// font mixin
@mixin fontFace($family,$src,$style: normal,$weight: normal) {
  @font-face {
	  font-family: $family;
		src: url('#{$src}.eot'); // IE9 compat
		src: url('#{$src}.eot?#iefix') format('embedded-opentype'), // IE8 and below
		url('#{$src}.woff') format('woff'), // standards
		url('#{$src}.ttf') format('truetype'), // Safari, Android, iOS
		url('#{$src}.svg##{$family}') format('svg'); // legacy iOS
		font-style: $style;
		font-weight: $weight;
    }
 }
 
 // border radius mixin
@mixin border-radius($br) {
  border-radius: $br;
}

// border color 
@mixin border-color($br) {
  border-color: $br;
}

// border width 
@mixin border-width($br) {
  border-width: $br;
}

// border width 
@mixin border-top($br) {
  border-top: $br;
}

// border width 
@mixin border-bottom($br) {
  border-bottom: $br;
}

// border width 
@mixin border-left($br) {
  border-left: $br;
}

// border width 
@mixin border-right($br) {
  border-right: $br;
}
// border width 
@mixin border($br) {
  border: $br;
}
// font-size
@mixin font-size($br) {
  font-size: $br;
}
@mixin font-size-imprt($br) {
  font-size: $br !important;
}
// Opacity
@mixin opacity($br) {
  opacity: $br !important;
}

// Transform
@mixin transform-imprt($br) {
  transform: $br !important;
}

// Positions
@mixin top($br) {
  top: $br !important;
}
@mixin bottom($br) {
  bottom: $br !important;
}
@mixin left($br) {
  left: $br !important;
}
@mixin right($br) {
  right: $br !important;
}


// Width
@mixin width($width) {
  width: $width;
}

// MaxWidth
@mixin max-width($max-width) {
  max-width: $max-width;
}

// MinWidth
@mixin min-width($min-width) {
  min-width: $min-width;
}
// Height
@mixin height($height) {
  height: $height;
}
// MaxHeight
@mixin max-height($max-height) {
  max-height: $max-height;
}
// MaxHeight
@mixin min-height($min-height) {
  min-height: $min-height;
}
// Line Height
@mixin line-height($line-height) {
  line-height: $line-height;
}
// Letter Spacing
@mixin letter-spacing($letter-spacing) {
  letter-spacing: $letter-spacing;
}

// Content
@mixin content($content) {
  content: $content;
}
// padding mixin
@mixin padding($padding) {
  padding: $padding;
}
@mixin padding-imprt($padding) {
  padding: $padding !important;
}
@mixin padding-top($padding-top) {
  padding-top: $padding-top;
}
@mixin padding-top-imprt($padding-top) {
  padding-top: $padding-top !important;
}
@mixin padding-right($padding-right) {
  padding-right: $padding-right;
}
@mixin padding-right-imprt($padding-right) {
  padding-right: $padding-right !important;
}
@mixin padding-bottom($padding-bottom) {
  padding-bottom: $padding-bottom;
}
@mixin padding-bottom-imprt($padding-bottom) {
  padding-bottom: $padding-bottom !important;
}
@mixin padding-left($padding-left) {
  padding-left: $padding-left;
}
@mixin padding-left-imprt($padding-left) {
  padding-left: $padding-left !important;
}
// margin mixin
@mixin margin($margin) {
  margin: $margin;
}
@mixin margin-imprt($margin) {
  margin: $margin !important;
}
@mixin margin-top($margin-top) {
  margin-top: $margin-top;
}
@mixin margin-top-imprt($margin-top) {
  margin-top: $margin-top !important;
}
@mixin margin-right($margin-right) {
  margin-right: $margin-right;
}
@mixin margin-right-imprt($margin-right) {
  margin-right: $margin-right !important;
}
@mixin margin-bottom($margin-bottom) {
  margin-bottom: $margin-bottom;
}
@mixin margin-bottom-imprt($margin-bottom) {
  margin-bottom: $margin-bottom !important;
}
@mixin margin-left($margin-left) {
  margin-left: $margin-left;
}
@mixin margin-left-imprt($margin-left) {
  margin-left: $margin-left !important;
}
@mixin z-index($z-index) {
  z-index: $z-index;
}
@mixin box-shadow($property) {
  -webkit-box-shadow: $property;
  -ms-box-shadow: $property;
  box-shadow: $property;
}
@mixin box-shadow-imprt($property) {
  -webkit-box-shadow: $property!important;
  -ms-box-shadow: $property!important;
  box-shadow: $property!important;
}
@mixin appearance($property) {
  -webkit-appearance: $property;
  -ms-appearance: $property;
  appearance: $property;
}
