// Text Truncate
%truncate {
  white-space: $nowrap;
  overflow: $hidden;
  display: $block;
  text-overflow: ellipsis;
}
//
%all-direction-0 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
%width-float {  
  @include width(100%);
  float: $left;
}
%border-top-right-left-none {
  border-top: $none;
  border-right: $none;
  border-left: $none;
}
