// =====================================Font variables starts here==============================
$fa-brands-400: 'fa-brands-400' !important;
$fa-regular-400: 'fa-regular-400' !important;
$fa-solid-900: 'fa-solid-900' !important;
$fontawesome-webfont: 'fontawesome-webfont' !important;
// =====================================Font variables ends here=================================

// =====================================Color variables starts here==============================
$primary_clr: #996806;
$secondary_clr: #E14E38;
$white: #ffffff;
$red: #ff0000;
$green:green;
$black:#191919;
$red_remove_btn:#ff4141;
$red_remove_btn_hover:#ff6868;
$remove_btn:#de8e8e;
$light_white:#f2f2f2;
$fade_white:#f6f6f6;
$dim_white:#f3f3f3;
$grey_shade:#fafafa;
$subtitle_color:#191919;
$background_bg:#FDFDFD;
$border_line:#e2e2e2;
$grid_bg:#f9f9f9;
$bannergreen: #1FAE96;
$bannergreen_dark:#0d9a82;
$subline_head:#996806;
$slider_content:#99A1AE;
$ebony_clay:#222D38;
$slider_dots:#C7C7C7;
$conduct_headr_top:#DEE1E7;
$footer_bg_color:#4B5E75;
$footerline:#3D454E;
$login_bg:#46586D;
$menu_active:#37B877;
$menu_active_hover:#62bf90;
$cont_box_shadow:#81cea7;
$menu_img_active:#3E4E61;
$switch_color:#3D4A67;
$dotted_line:#222D38;
$bor_dotted_line:#B5C4D7;
$box_shadow_main_content:#949494;
$border_table:#E5E5E5;
$notify_box_shadow:#EEEEEE;
$btn_txt_reset:#212529;
$btn_bg_reset:#d6dadd;
$cont_bg:#fcfcfc;
$price_color:#959595;
$border_color:#ececec;
$input_border_clr:#D6E3F3;
$chat_left_bg:#46586e;
$chat_msg_border: #e7e7e9;
$color1:#e2e6ea;
$color2:#dae0e5;
$color3:#ced4da;
$color4:#d5dde4;
$noti_colr:#a4f1cb;
$line_clr:#e7e7e7;
$fabebook_blue:#3B5998;
$orange_box: #E69184;
$blogger_green_clr:#CDEAE5;
$img_border_green:#AEDFCE;
$blogger_blue_clr:#C1E3FF;
$img_border_blue:#9AC8EF;
$blogger_btn_blue:#1973BD;
$blogger_red_clr:#F4D6D2;
$img_border_red:#F0BAB2;
$blogger_brown_clr:#E6DCC8;
$img_border_brown:#D6C4A0;
$upload_btn_bg:#FFF1EF;
$upload_border:#E9C4BF;
$input_form_border:#e8e8e8;
// =====================================Color variables ends here================================
// =====================================Images variables starts here==============================
$top_banner_bg: url(../../images/landing-page/banner-bg-img_path.svg);
$rightbanner_img: url(../../images/landing-page/banner-right-img.png);
$line1: url(../../images/landing-page/line1.svg);
$line2: url(../../images/landing-page/line2.svg);
$conduct_bg: url(../../images/landing-page/conduct_bg.svg);
$bottom_footer_bg: url(../../images/landing-page/footer_bg.svg);
$switch_bar_link: url(../../images/topheader/switch_icon.svg);
$right_icon_bg:url(../../images/topheader/right_icons_bg.png);
$graph1_bg: url(../../images/dashboard-icons/graph_bg1.png);
$dashbd_bg1: url(../../images/dashboard-icons/graph_bg2.png);
$dashbd_bg2: url(../../images/dashboard-icons/graph_bg3.png);
$dashbd_bg3: url(../../images/dashboard-icons/graph_bg4.png);
$graph1_bg_right: url(../../images/dashboard-icons/graph_bg1_right.png);
$daily_traffic_icon: url(../../images/dashboard-icons/daily_traffic_icon.svg);
$organic_traffic_icon: url(../../images/dashboard-icons/organic_traffic_icon.svg);
$edit_icon_bg: url(../../images/other-pages/edit_icon_bg.svg);
$white_tick: url(../../images/other-pages/white_tick.png);
$connect_stripe: url(../../images/Connect-with-Stripe/Connect-with-Stripe-blurple.svg);
$connect_stripe_hover: url(../../images/Connect-with-Stripe/Connect-with-Stripe-blurple-hover.svg);
// =====================================Images variables ends here================================
// =====================================Properties variables starts here=========================
$none: none;
$auto: auto;
$block: block;
$sticky:sticky;
$flex-end:flex-end;
$space-between:space-between;
$contain: contain;
$cover: cover;
$vertical:vertical;
$transparent: transparent;
$flex: flex;
$both: both;
$table: table;
$table-cell: table-cell;
$inline-block: inline-block;
$top: top;
$middle: middle;
$center: center;
$left: left;
$right: right;
$bottom: bottom;
$normal: normal;
$uppercase: uppercase;
$pointer: pointer;
$hidden: hidden;
$nowrap: nowrap;
$no-repeat: no-repeat;
$repeat: repeat;
$inherit: inherit;
$fixed: fixed;
$absolute: absolute;
$relative: relative;
$underline: underline;
$capitalize: capitalize;
$ellipsis: ellipsis;
$break-word: break-word;
$inline-flex: inline-flex;
$scroll: scroll;

// =====================================Properties variables ends here=========================
// =====================================Fonts variables starts here============================
$font-family1:'Segoe-UI';
$font-wt_regular: 400;
$font-wt_bold: bold;

$font-family2:'Proxima Nova Bold';
$font-family3:'Proxima Nova Rg';
$font-family4: 'Proxima Nova Bl';
$font-family5: 'Segoe UI Black';
// =====================================Fonts variables ends here==============================