.site-loader {
  margin: 0 auto;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-flex;
  -webkit-align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1060;
}

.site-loader .loading-spinner {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #32ca75;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.service-menu {
  position: absolute;
  right: 30px;
  background-color: #e5e5e5;
  border: #989898;
  padding: 10px;
  line-height: 2rem;
  list-style: none;
  width: 12%;
  display: block;
  text-align: left;
  z-index: 100;
}

.invalid-user {
  display: block;
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}

.read-more-less--more,
.read-more-less--less {
  color: #32ca75;
}