body{
    font-family: $font-family1 !important;
}
.main_container{
    @include width(100%);
    @include max-width(90%);
    @include margin(0 auto);
}
*:focus{
    outline: $none;
}
.text-green{
    color:$bannergreen;
}
.rating_star{
    span{
        color: $secondary_clr;
        @include font-size(16px);        
    }
}
.bg-premium1-dark {
    background-image: linear-gradient(to $right, #ffffff 0%, #eeeeee 100%) !important;
}
.bg-premium2-dark {
    background-image: linear-gradient(to $right, #d25a5a 0%, #d67b7b 100%) !important;
}
.bg-premium3-dark {
    background-image: linear-gradient(to $right, #d25a5a 0%, #d67b7b 100%) !important;
}
.swiper-slide{ 
    @include margin-bottom(70px);  
}
.cursor-pointer{
    cursor: pointer;
}
.timerwords {
	font-size: 14px;
	font-weight: normal;
	width: 178px;
	display: inline-block;
	text-align: center;
	margin: 10px 0;
}
.landing_swiper.swipernavDetail{
    .swiper-container{
        max-width: 90%;
        margin: 0 auto;
    }
    .swiper-button-next::after, .swiper-button-prev::after{
        color:$bannergreen;
    }
}
.MuiInputBase-input::placeholder {
	opacity: 1 !important;
}
.swiper-pagination-bullet {
    @include width(25px);
    @include height(25px);
    display: $inline-block;
    @include border-radius(100%);
    background: $transparent;
    @include opacity(0.8);
    border: 1px solid $transparent;
    @include padding(0px);
    position: $relative;
    &::before{
        @include content("");
        position: $absolute;
        @include left(0);
        @include right(0);
        @include top(0);
        @include bottom(0);
        @include margin(auto);
        @include width(10px);
        @include height(10px);
        @include border-radius(100%);
        background:$slider_dots;
        
    }
    &.swiper-pagination-bullet-active{
        border: 1px solid $bannergreen;
        @include opacity(1);
        &::before{
            background: $bannergreen;
        }
    }
}
.swiper-container-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-custom , 
.swiper-pagination-fraction{
    @include bottom(50px);
}
.text_orange{
    color:$secondary_clr;
    font-weight:$normal;
    font-family: $font-family4;
}
#main-container {
    background-color: $background_bg;
    position: $relative;
    @include padding(0);   
    display:$flex; 
    #main-content{
        @include padding(12px 20px 8px 20px);
        @include margin-left(18%);
        @include width(calc(100% - 18%));
        background-color: $background_bg;
        position: $relative;
        border:1px solid whitesmoke;
        // @include box-shadow(0px 1px 4px 2px whitesmoke);        
        .page-wrapper{
            @include padding(20px);
            @include margin(20px 0);
            background: $white;
            background: #ffffff;
            // @include box-shadow(0 10px 20px #aeaeae);
            border:1px solid whitesmoke;
            @include border-radius(15px);
        }
    }
}
.basic-single-select .css-1pahdxg-control:hover {
    border-color: $menu_active !important;
}
.productscontainer-box{
    .grid-view-products{
        .card{
            &.blogger_card{
                margin-top: 70px;
                height: auto !important;
                .products_image{
                    &.bloggerimg{
                        &.fav_img_blogger{
                            height: 100px;
                            max-height: 100px;
                            overflow: visible;
                            background: transparent;
                            text-align: center;
                            width: 100%;
                            .img_crop{
                                max-width: 100%;
                                height: auto;
                                width: 120px !important;
                                height: 120px !important;
                                border-radius: 100%;
                                position: relative;
                                top: -30px;
                            }
                        }
                    }
                }
            }
        }
    }
}
.btn_light_green{
    &.pageerror_link{
        color:$white !important;
    }
}
.h-80vh{
    height:82vh !important;
}
.basic-single-select{
    .select_dropdown__control{
        box-shadow: none;
        border-color: #ccc;
        .select_dropdown__control--is-focused{
            border:none;
        }
    }
    .select_dropdown__placeholder{
        color:$price_color;
    }
    .select_dropdown__menu{
        z-index:10 !important;
        .select_dropdown__option{
            background-color: transparent;
            &:hover{
                background-color: #afe3c9;
            }
            &.select_dropdown__option--is-selected{
                background-color: $menu_active;
            }
        }
    }
}
.form-control.is-valid, 
.was-validated .form-control:valid{
    background: transparent !important;
}
.maxwid30{
    max-width:30% !important;
}
.page_title{
    .left_icon_title{
        background-color: $menu_active;
        @include padding(9px);
        @include border-radius(10px);
        display: $inline-block;
        @include width(55px);
        @include height(50px);
        text-align: $center;
        justify-content: $center;
        img{
            @include width(100%);
        }
        .fa{
            @include font-size(30px);
            color: $white;
        }
        .fab{
            @include font-size(30px);
            color: $white;
        }
        .fas{
            @include font-size(30px);
            color: $white;
        }
    }
    .right_title{
        color:$switch_color;
        @include font-size(22px);
        font-weight:$font-wt_bold;
        font-family: $font-family1;        
    }
    .title_tagline{
        color:$menu_active;
        @include font-size(17px);
        font-weight:$font-wt_regular;
        font-family: $font-family1;
    }
}
.MuiTableHead-root {
    position: relative;
    z-index: 1;
}
.sub_title_dash{
    color:$switch_color;
    @include font-size(22px);
    font-weight:$font-wt_regular;
    font-family: $font-family1;
}
.sub_title_dash a{
   color:$switch_color;
   @include font-size(22px);
   font-weight:$font-wt_regular;
   font-family: $font-family1;
   &:hover{
       color:$switch_color;
    }
}
.ml_minus_10{
    @include margin-left(-10px);
}
.btn.focus, .btn:focus{
    outline:$none !important;
    box-shadow:$none !important;
}

.bootstrap-select .dropdown-toggle:focus, .bootstrap-select>select.mobile-device:focus+.dropdown-toggle{
    outline:none !important;
}
.bor-rad{
    @include border-radius(20px);
}
.bor-rad_top_right{
    @include border-radius(20px 20px 0 0);
}
.bor-rad_left_btm{
    @include border-radius(0 0 20px 20px);
}
.grey_box_bg{
    background:$grid_bg;
    @include border-radius(20px);
}
.sidesub_green_head{
    color:$menu_active;
    @include font-size(20px);
    font-weight:$font-wt_bold;
    font-family: $font-family1;
    @include padding(10px 15px);
    @include margin(0);
}
.sub_sub_title{
    color:$subtitle_color;
    @include font-size(20px);
    font-weight:$font-wt_bold;
    font-family: $font-family1;
}

.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle {
    color: $btn_txt_reset;
    background-color: $white !important;
    border-color: $color3 !important;
}
body .bootstrap-select .dropdown-toggle:focus, 
body .bootstrap-select>select.mobile-device:focus+.dropdown-toggle{
    outline: none !important;
}
.selectpicker_form .btn,
.selectpicker_form .btn:hover,
.selectpicker_form .btn-light:hover,
.selectpicker_form .btn-light.focus, 
.selectpicker_form .btn-light:focus {
    color: $btn_txt_reset !important;
    background-color: $white;
    border-color: $color4;
    box-shadow: $none !important;
}

.selectpicker_form .inner.show{
    scrollbar-color: Gainsboro White;
    scrollbar-width: thin;
    @include border-radius(5px);
}
.selectpicker_form .inner.show::-webkit-scrollbar {
@include width(6px);
@include height(6px);
@include border-radius(4px);
}
.selectpicker_form .inner.show::-webkit-scrollbar-track {
background:$notify_box_shadow;
@include border-radius(4px);
}
.selectpicker_form .inner.show::-webkit-scrollbar-thumb {
background: $menu_active;
cursor: $pointer;
@include border-radius(4px);
}
.selectpicker_form .inner.show::-webkit-scrollbar-thumb:hover {
background: $menu_active;
cursor: $pointer;
  @include border-radius(4px);
}
.cont_bg{
    background: $cont_bg;
}
.search-box{
    position: $relative;    
    @include border-radius(20px);
    @include padding(2px);
    input{
        background:$white;
        @include border-radius(20px);
        border:1px solid $fade_white !important;
        &:focus{
            background:$white;
            box-shadow: $none;
            border:1px solid $menu_active!important;
        }
    }
    .bg_icon_green {
        background: $menu_active;
        color: $white;
        @include padding(8px);
        @include border-radius(100%);
        position: $absolute;
        @include right(5px);
        @include top(5px);
    }    
}
body .breadcrumb{
    background-color: transparent;
    li{
        color:$dotted_line;
        @include font-size(18px);
        font-weight:$font-wt_regular;
        font-family: $font-family1;
        a{
            color:$dotted_line;
            @include font-size(18px);
            font-weight:$font-wt_regular;
            font-family: $font-family1;
            &:hover{
                text-decoration: none;
                color:$menu_active;
            }
        }       
    }
}

.custom-control{
    @include padding-left(0 !important);
    &.custom-radio{        
        .custom-control-label{
            @include padding-left(22px);
        }
        .custom-control-label::before{
            background-color: $white!important;
            @include top(2px);
            @include left(0);
        }
        .custom-control-input:checked ~ .custom-control-label::before {
            background-color: $transparent !important;
            border-color:$menu_active!important;
        }
        .custom-control-label::after{
            @include top(6px);
            @include left(4px);
        }
        .custom-control-input:checked ~ .custom-control-label{
            color:$menu_active !important;
        }
        .custom-control-input:checked ~ .custom-control-label::after {
            background-image: none !important;
            background-color: $menu_active !important;            
            @include border-radius(100%);
            @include width(8px);
            @include height(8px);
        }
    }
}
.form-control:focus{
    box-shadow: $none !important;
}
.custom-control{
    @include padding-left(0 !important);
    &.custom-checkbox{        
        .custom-control-label{
            @include padding-left(27px);
            color:$dotted_line !important;
        }
        .custom-control-label::before{
            background-color: $white!important;
            @include top(4px);
            @include left(0);
            @include width(20px);
            @include height(20px);
        }
        .custom-control-input:checked ~ .custom-control-label::before {
            background-color: $transparent !important;
            border-color:$menu_active!important;
        }
        .custom-control-label::after{
            @include top(6px);
            @include left(3px);
        }
        .custom-control-input:checked ~ .custom-control-label{
            color:$menu_active !important;
        }
        .custom-control-input:checked ~ .custom-control-label::after {
            background: $white_tick $no-repeat $center $center $bannergreen !important;
            background-size: 18px 15px !important;
            //@include content("\2713");
            @include left(1px);
            @include top(3px);
            @include font-size(15px);
            color: $white;
            @include width(20px);
            @include height(20px);
            @include border-radius(3px);
            text-align: $center;
        }
        // .custom-control-input:checked ~ .custom-control-label::after {
        //     background-image: $none !important;
        //     @include content("✅");
        //     @include left(0px);
        //     @include top(2px);
        //     @include font-size(15px);
        //     color: $white;
        //     // background: $bannergreen;
        //     @include width(21px);
        //     @include height(21px);
        //     @include border-radius(3px);
        //     text-align: $center;
        // }
    }
}
.site-loader .loading-spinner {
    border: 12px solid $dim_white;
    @include border-radius(50%);
    border-top: 12px solid $bannergreen;
    @include width(50px);
    @include height(50px);
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
@-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .site-loader {
    @include margin(0 auto);
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.5);
    position: $absolute;
    @include top(0);
    @include right(0);
    @include bottom(0);
    @include left(0);
    display: -webkit-flex;
    -webkit-align-items: $center;
    display: $flex;
    align-items: $center;
    justify-content: $center;
    @include z-index(1060);
  }
  .inpt_grp_div{
      .invite-text{
          background: $fade_white !important;
          @include height(42px);
          border: 1px solid $color2 !important;
          @include padding(0 10px !important);
          @include border-radius(0!important);
      }
  }

.p_tagline{
    color:$dotted_line;
    @include font-size(20px);
    font-weight:$font-wt_regular;
    font-family: $font-family1;
}
  
.modal-dialog-scrollable{
    &.modal_dialog_settings{
        .modal-body {
            overflow-y: auto;
            max-height: 50vh;
        }
    }
}
.modal-open .modal.modal_popup {
    overflow-x: hidden;
    overflow-y: hidden;
}
.terms_conditions_page{
    ul{
        padding:0;
        list-style-type: $none;
        li{
            padding:0 0 0 20px;
            position: $relative;
            &::before{
                background:url(../../images/other-pages/green_tick.png) no-repeat 0 0 transparent;
                content:"";
                position: $absolute;
                left:0;
                width: 14px;
                height: 14px;
                background-size: contain;
                top: 6px;
            }
        }
    }
}
.sendamsgsize_fnt .user-bio.small {
    font-size: 15px;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: $menu_active !important;
    background-color: $menu_active !important;
}
.required-red{
    color:$red;
}
.link-cursor{
    cursor: pointer;
}
.link_text{
    color: $bannergreen!important;
    font-weight:$font-wt_bold;
    @include font-size(15px!important);
    border:$none;
    background: $transparent;
    &:hover{
        text-decoration:underline;
    }
}
.bord_rad{
    @include border-radius(20px);
}
.basic-single-select{
    .select_dropdown__control{
        background-color: $white;
        border-color: #e2e6ea;
    }
}
.join_now{
    &:hover{
        text-decoration: none;
    }
}
.analytics-list{
    color: #37b877;
    font-size: 14px;
    list-style: circle;
}
img.ui.image {
    display: inline-block!important;
}
.notification-tick-mark{
    background:url(../../images/other-pages/green_tick.png) no-repeat 0 0 transparent;
    content: "";
    position: absolute;
    left: 330px;
    width: 17px;
    height: 20px;
    background-size: contain;
    top: 22px;
}
.connect_stripe{
    background: $connect_stripe no-repeat 0 0 transparent !important;
    width: 165px !important;
    height: 35px !important;
    margin: auto !important;
    cursor: pointer;
    &:hover{
        background: $connect_stripe_hover no-repeat 0 0 transparent !important;
    }
}
.swal2-container {
    z-index: 1900 !important;
}
.colored-toast.swal2-icon-success {
    background-color:#28a745 !important;
    color: #283853 !important
}

.colored-toast.swal2-icon-error {
    background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
    background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
    background-color: #ffad00 !important;
}

.colored-toast.swal2-icon-question {
    background-color: #87adbd !important;
}

.colored-toast .swal2-title {
    color: white !important;
}

.colored-toast .swal2-close {
    color: white !important;
}

.colored-toast .swal2-content {
    color: white !important;
}
.white-toast-icon {
    display: none !important;
}
.active-billing {
    float: left;
    color: #37b877;
    font-weight: $font-wt_bold;
}
.border-billing{
    border: 1px solid #f6f6f6;
}
.green-font{
    color: $menu_active !important;
    float: right;
    font-weight: $font-wt_bold
}
.card_notes{
    color:$switch_color;
    @include font-size(16px);
    font-weight:$font-wt_regular;
    font-family: $font-family1;
}
.pagenotfound{
    height: 85vh;
    align-items: center;
    display: flex;
}
h1.oops {
    font-size: 160px;
    color: #37b877;
    font-family: cursive;
}
.pg404page {
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
    color: #99A1AE;
}
.lastlinepgfnd{
    color: #222D38;
    font-size: 15px;
    font-weight: normal;
    font-family: "Segoe-UI";
}
.textlinkspg {
    text-transform: uppercase;
    color: #000;
    font-size: 20px;
    position: absolute;
    bottom: 34px;
    width: auto;
    left: 315px;
    margin: auto;
    display: inline-block;
    a{
        color: #37b877;
        &:hover{
            color: #000;
        }
    }
}
// .logobgpgfound{
//     background: #425267;
// }
.price_filter_tag{
    .label{
        font-size:14px;
    }
    .input-group.search-box {
        border: 1px solid #ccc;
        border-radius: 0;
        position: relative;
        padding: 0 0 0 2px !important;
    }
    .input-group-append .input-group-text {
        background: #ededed;
        color: #afafaf;
        padding: 0 7px;
    }
    .bortopside{
        border-top:1px solid #e1e0e0;
    }
    .input-group-append.cont_bg{
        position: absolute;
        right: 0;
        height: 100%;
    }
    .search-box input:focus{
        border:none !important
    }     
}
.filter_box_align.btn_alignset{
    .btn_light_green{
        padding:6px 14px !important;
    }
}
.ant-picker-dropdown.datepicker_set {
    z-index: 1065;
}
.icon_span_bg{
    background: url(../../images/landing-page/rectangle_bg.png) no-repeat 0 0 transparent;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    justify-content: center;
    width: 40px;
    display: inline-block;
    margin-right: 10px;
    height: 41px;
    font-size: 20px;
    line-height: 40px;
    vertical-align: middle;
    align-items: center;
    align-content: center;
}
.landing_swiper .swiper-wrapper .swiper-slide .card .card-body .mid_cnt .abt_cnt_text{
    display: none !important;
}
.landing_swiper .swiper-wrapper .swiper-slide.swiper-slide-active .card .card-body .mid_cnt .abt_cnt_text{
    // display: inline-block !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 40px;
}
.landing_swiper .swiper-wrapper .swiper-slide.swiper-slide-active .card .card-body .rating_star .text-muted{
    color: #f0f2f5 !important;
    font-size: 14px;
}
.bg_settings_parts.user-profile{
    br{
        display: none;
    }
    .on-date.date-size.timeFont-Right{
        font-size: 12px !important;
        margin: 0;
        display: block;
    }
}