.footer_bg{
    background: $bottom_footer_bg $no-repeat 0 0 $transparent;
    @include height(100%);
    @include width(100%);
    @include margin-top(0);
    background-position: center top;
    background-size: $cover;
    .footer_top_img {
        img{
            position: $relative;
            @include top(-75px);
        }
    }
    .footer_menu_list{
        .footer_side_head{
            color:$bannergreen;
            @include font-size(18px);
            font-weight:$font-wt_bold;
            font-family: $font-family1;
        }
        ul.footer_list{
            @include padding(0);
            @include margin-top(0);
            display: $block;
            li{
                list-style-type: $none;
                a{
                    color:$white;
                    @include font-size(14px);
                    font-weight:$normal;
                    font-family: $font-family1;
                    text-decoration: $none;
                    &:hover{
                        color:$bannergreen;
                    }
                }
            }
        }
        ul.contact_list{
            @include padding(0);
            @include margin-top(0);
            display: $block;
            li{
                color:$white;
                @include font-size(14px);
                font-weight:$normal;
                font-family: $font-family1;
                list-style-type:$none;
                display: $flex;
                @include margin-bottom(15px);
                .bgicon{
                    background: $bannergreen;
                    display: $inline-block;
                    @include padding(7px);
                    @include border-radius(100%);
                    @include height(24px);
                    @include width(24px);
                    text-align: $center;
                    @include font-size(11px);
                    @include line-height(10px);
                    @include margin-right(12px);
                }
                a{
                    color:$white;
                    @include font-size(14px);
                    font-weight:$normal;
                    font-family: $font-family1;
                    text-decoration: $none;
                    &:hover{
                        color:$bannergreen;
                    }
                }
            }
        }
    }  
    .copy_rts_text{
        color:$white;
        @include font-size(15px);
        font-weight:$normal;
        font-family: $font-family1;
        .text_green{
            color:$bannergreen;
        }
    }
    .footer_cp_links{
        @include padding(0);
        li{
            list-style-type: $none;
            display: $inline-block;
            position: $relative;
            @include padding(0 20px);
            &::before{
                @include content("/");
                position: $absolute;
                @include right(0);
                @include top(0);
                @include bottom(0);
                @include width(8px);
                @include height(22px);
                @include margin(auto);
                color: $white;
            }
            a{
                color:$white;
                @include font-size(15px);
                font-weight:$normal;
                font-family: $font-family1;
                text-decoration: $none;
                &:hover{
                    color:$bannergreen;
                }
            }
            &:last-child{
                &::before{
                    @include content("");
                }
            }
        }
    }
    .gototop{
        text-align: $center;
        position: $relative;
        display: $block;
        @include width(100%);
        
        span{
            display: $inline-block;
            @include height(40px);
            @include width(40px);
            @include z-index(1);
            cursor: $pointer;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            top: -15px;
        }
        &::before{
            @include border-top(1px solid $footerline);
            @include content("");
            position: $absolute;
            @include height(1px);
            @include width(100%);
            @include left(0);
            @include right(0);
            @include top(0);
            @include bottom(0);
            @include margin(auto);
            @include z-index(1);
        }
    }
}
.mt_minus{
    @include margin-top(-75px);
}

.inner_footer{
    @include padding(10px 0);
    display: $flex;
    p{
        color:$white;
        @include font-size(12px);
        font-weight:$font-wt_regular;
        font-family: $font-family1;
        @include margin(0);
        span{
            color:$menu_active;
            font-weight:$font-wt_bold;
        }
    }
}
.img-fluid.maxwid_img{
    max-width:65%;
}