.topbar-header {
    @include width(100%);
    @include padding(0);
    position: $sticky;
    @include top(0);
    @include z-index(10);
    background-color: $transparent;
    .navbar {
        @include padding(0);
        @include min-height(66px);    
        .navbar-collapse {
            .box-wrap {
                @include width(100%);
                display: $flex;
                justify-content: $flex-end;
                align-items: $center;
                .switch_bar{
                    .switch_bar_link{
                        background:$switch_bar_link $no-repeat $right $center $transparent;
                        color:$switch_color;
                        @include font-size(16px);
                        font-weight:$font-wt_bold;
                        font-family: $font-family1;
                        // background-size: $contain;
                        @include padding(10px 60px 10px 20px);
                        @include border(1px dashed $bor_dotted_line);
                        @include border-radius(20px);
                        display: $block;
                        cursor: $pointer;
                        @include margin(0);
                        &:hover{
                            text-decoration: $none;
                        }
                        .icon-align{
                            display: $inline-block;
                            @include padding(0 18px);
                        }
                    }
                }
                .right_icons{
                    li{
                        .nav-link-right{
                            background: $right_icon_bg $no-repeat $center $center $transparent;
                            background-size: $contain;
                            @include width(50px);
                            display: $inline-flex;
                            @include height(50px);
                            text-align: $center;
                            align-items: $center;
                            justify-content: $center;
                            @include font-size(20px);
                            color:$white;
                            @include margin(0 0 0 18px);
                            &:hover{
                                text-decoration: none;
                                background-color:$menu_active;
                                background-image:$none;
                                color: $white;
                                @include box-shadow(0px 1px 4px 2px whitesmoke);
                                @include border-radius(100%);
                                .badge{
                                    background: $ebony_clay;
                                    color: $white;
                                }
                            }
                        }
                        .notify_symbol{
                            position: $relative;
                            .badge{
                                position: $absolute;
                                @include top(0);
                                @include right(0);
                                background: $menu_active;
                                @include font-size(10px);
                                @include width(18px);
                                @include height(18px);
                                display: $inline-block;
                            }
                        }
                        .heartred{
                            color:$red;
                        }
                    }
                }
            }
        }
    }
}
.heartred{
    color:$red;
}