@media only screen and (max-width: 576px) {
    .main_container{
        width:100%;
    }
}
@media (min-width: 1366px) {
    .main_top_banner{
        background-size:cover !important;
        height: 100vh !important;
    }
}
@media (min-width: 993px) and (max-width: 1366px){
    .padleftzero{
        padding-left:0 !important;
    }
    .blogger-items .card{
        padding: 10px !important;
    }
    .blogger-items .favorite_btn,
    .blogger-items .view_btn{
        font-size:10px !important;
        padding:8px !important;
    }
}
@media (min-width: 768px){
    .navbar-expand-md .navbar-toggler {
        display: none !important;
    }
}
@media (max-width: 1024px) {
    .service_orange_gird .link_service{
        max-width:50%;
        word-break: break-all;
        line-height: 21px;
        font-size: 18px !important;
    }
    .service_listtms .rate_dollar_price{
        font-size: 14px !important;
    }
    .service_listtms .tag_line_span{
        font-size: 12px !important;
    }
    .service_listtms .orange_txt{
        font-size: 18px !important;
    }
    .page_title .left_icon_title{
        width: 50px !important;
        height: 50px !important;
    }
    .page_title .title_tagline{
        font-size: 16px !important;
    }
    .page_title .right_title{
        font-size: 20px !important;
    }
    .left-sidebar .scroll-sidebar .sidebar-nav ul li .sidebar-link {
        font-size: 15px !important;
    }
    .user-list {
        min-width: 240px !important;
        max-width: 100%;
    }
    .main_top_banner .banner_rightside{
        background-size: contain !important;
    }
    .main_top_banner .banner_rightside{
        background-size: 50% !important;
    }
    .main_top_banner .banner_rightside {
        width: 100%;
        padding-bottom: 30px;
    }
    .main_top_banner{
        height:auto !important;
        padding-bottom: 70px ;
    }
    .main_top_banner{
        background-size:cover !important;
    }
    .main_top_banner .banner_rightside img{
        right:inherit !important
    }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
    .navbar-expand-md .navbar-toggler{
        display: block !important;
        padding: 10px 0 !important;
        margin: 0 10px 0 0 !important;
    }
    #main-container .left-sidebar{
        display: none;
    }
    #main-container .left-sidebar.show ~ #main-content{
        width:calc(100% - 200px) !important;
        overflow: hidden;
        margin-left: 200px !important;
    }
    #main-container .left-sidebar ~ #main-content{
        width:100% !important;
        margin-left: 0 !important;
    }
    .left-sidebar .scroll-sidebar .sidebar-nav ul li .sidebar-link {
        font-size: 16px !important;
    }    
    .left-sidebar .scroll-sidebar .sidebar-nav ul li .sidebar-link{
        margin-left:10px !important;
    }
    #main-container .left-sidebar.collapse.show {
        display: block;
        width: 200px !important;
    }
    .user-list {
        min-width: 100% !important;
        max-width: 100%;
    }   
    .inbox_page .disp_blk{
        display: block !important;
    }      
    .switch_bar {
        width: 260px;
        display: inline-block !important;
        margin: 10px 0;
    }
    .main_container{
        width:100%;
    }
    .main_top_banner .banner_rightside{
        background-size: contain !important;
    }
    .main_top_banner .about-sec .about-content{
        padding: 20px !important;
    }
    .main_top_banner .about-sec .about-content h1{
        font-size: 40px !important;
    }
    .main_top_banner .about-sec .about-content p{
        font-size: 15px !important;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .main_top_banner .banner_rightside{
        background-position: center bottom !important;
    }
    .main-title .pg_mid_head{
        font-size: 45px !important; 
    }
    .swiper-slide .card{
        max-width:320px;
        margin:0 auto;
    }
    .how_it_works .max_wid_hiw1,
    .how_it_works .max_wid_hiw2,
    .how_it_works .max_wid_hiw3{
        width:50% !important;
        padding:0 15px !important;
        text-align: center !important;
        background:none !important;
        margin-bottom: 30px;
    }
    .how_it_works .hiw_head br{
        display: none;
    }
    .banner-wrap img{
        width:100%;
    }
    .footer_bg .footer_menu_list .footer_side_head{
        text-align: left;
    }
    .footer_bg .footer_menu_list ul.footer_list{
        text-align: left;
        margin-top: 28px !important;
    }
    
    .how_it_works .max_wid_hiw1 .pr_percent,
    .how_it_works .max_wid_hiw2 .pr_percent {
        padding-right: 0 !important;
    }
    .how_it_works .hiw_head .border_bottom{
        margin:10px auto !important;
    }   
    .footer_bg .footer_menu_list ul.contact_list{
        margin-bottom:30px !important;
    }   
    
}

// Medium devices (tablets, 768px and up)
@media (max-width: 767px) { 
    .pricerange_border_bg{
        width: 136px !important;
    }    
    .pricerange_border_bg .greenfont{
        font-size: 20px !important;
    }
    .how_a_seller{
        margin-bottom:10px;
    }
    .service_orange_gird .link_service{
        word-break: break-all;
        font-size:15px !important;
    }
    .topbar-header .navbar .navbar-collapse .box-wrap{
        display: block !important;
    }
    .view-options{
        display: block !important;
    }
    .service_listtms .tag_line_span{
        font-size:12px !important;
    }
    .modalsetpopup {
        position: absolute !important;
        overflow: auto !important;
        height: 100vh !important;
    }
    .modal_popup.login_popup {
        max-width: 70% !important;
    }
    .modal_popup.revision_popup {
        max-width: 70% !important;
    }
    .chkout_card .bg_grey_chkout{
        flex:0 0 55% !important;
    }
    .chkout_card .bg_grey_chkout.countclr{
        flex:0 0 40% !important;
    }
    .p_setz{
        padding:0 !important;
    }
    .wizard_tab .wizard-inner .nav li{
        margin: 0 0 15px 0 !important;
        width: 100% !important;
    }
    .chkout_card{
        display:block !important;
    }
    .chkout_section {
        padding: 0;
    }
    body .productscontainer-box {
        padding: 0 !important;
    }
    .d_sm_none{
        display: none !important;
    }
    .productscontainer-box .list-view-products .card .products_image{
        border-radius: 10px 10px 0 0 !important;
    }
    
    .header .main_container .navbar-collapse{
        max-width: 200px;
        background: #2d3947;
        border-radius: 5px;
        box-shadow: 0 0 6px 2px #8a8888;
        padding: 10px 0px 20px 20px;
        position: absolute;
        top: 55px;
        right: 13px;
        z-index: 10;
    }
    .header .main_container .navbar-nav li{
        margin:0 0 15px 0;
    }
    .header .main_container .navbar-nav .mail-info{
        margin: 0 !important;
    }
    .header .main_container .navbar-nav .phone-info{
        display: none;
    }
    .header .main_container .navbar-nav li 
    .main_container{
        width:100%;
    }
    .main_top_banner .about-sec .about-content h1{
        font-size: 40px !important;
    }
    .main_top_banner .about-sec .about-content p{
        font-size: 15px !important;
        overflow:visible !important;
        display: block;
    }
    .mr-lg-3.mr-md-3{
        margin-right:15px !important;
    }
    .main_top_banner .banner_rightside{
        background-position: center bottom !important;
    }
    .main-title .pg_mid_head{
        font-size: 30px !important; 
    }
    .how_it_works .max_wid_hiw1,
    .how_it_works .max_wid_hiw2,
    .how_it_works .max_wid_hiw3{
        width:100% !important;
        padding:0 15px !important;
        text-align: center !important;
        background:none !important;
        margin-bottom: 30px;
    }
    .how_it_works .hiw_head br{
        display: none;
    }
    .banner-wrap img{
        width:100%;
    }
    .footer_bg .footer_menu_list .footer_side_head{
        text-align: center;
    }
    .footer_bg .footer_menu_list ul.footer_list{
        text-align: center;
        margin-top: 28px !important;
    }
    .footer_bg .footer_menu_list ul.contact_list{
        padding:0 60px;
    }
    .footer_bg .footer_cp_links{
        text-align: center;
    }
    .footer_bg .footer_cp_links li{
        display: block !important;
    }
    .footer_bg .footer_cp_links li::before{
        display: none;
    }
    .how_it_works .max_wid_hiw1 .pr_percent,
    .how_it_works .max_wid_hiw2 .pr_percent {
        padding-right: 0 !important;
    }
    .how_it_works .hiw_head .border_bottom{
        margin:10px auto !important;
    }
    .footer_bg .copy_rts_text{
        margin:30px 0 !important;
        text-align: center !important;
    }
    .footer_bg .footer_menu_list ul.contact_list{
        margin-bottom:30px !important;
    }
    .main_top_banner .about-sec .about-content{
        padding: 0 !important;
    }
    #main-container #main-content{
        width: 100% !important;
    }
    .navItem:nth-of-type(1) { order: 4; }
    .navItem:nth-of-type(2) { order: 3; }
    .navItem:nth-of-type(3) { order: 1; }
    .navItem:nth-of-type(4) { order: 2; }
}
@media only screen and (min-width:540px) and (max-width:767px){
    .main_top_banner .banner_rightside{
        min-height: 835px;
    }
}
@media (max-width: 420px) {
    .footer_bg{
        padding-top:110px;
    }
    .footer_bg .footer_top_img img {
        top: 0 !important;
    }
    body .servicedrop {
        display: block !important;
    }
    .about_pg_menu{
        float: none !important;
        margin-top:10px;
    }
    .grey_box_bg .pad_sets_zero {
        padding: 15px !important;
    }
    .about_pg_menu .dropdown .btn_menu_item{
        width: 100% !important;
    margin: 0 0 10px 0 !important;
    }
    .about_pg_menu {
        display: block !important;
    }
    .inbox_page .user-list {
        border: 1px solid #D6E3F3 !important;
        border-radius: 10px;
        min-width: 100%;
    }
    .user-chat .card.leftchatbox {
        min-width: 100% !important;
    }    
    .mar_zero{
        margin:0 !important;
    } 
    .flex_chk_md{
        margin:0 !important;
    }
    .pad_zero{
        padding:0 !important;
    }
    .thankyou_Bg_des img {
        display: none;
    }
    .flex_chk_md.chkout_card .card-body{
        padding:0 !important;
    }
    .chkout_card .bg_grey_chkout{
        flex:0 0 100% !important;
        max-width: 100% !important;
    }
    .chkout_card .bg_grey_chkout.countclr{
        flex:0 0 100% !important;
        max-width: 100% !important;
    }
    .chkout_card .bg_grey_chkout.price_greychokout{
        margin:0 !important;
        width:100% !important;
    }
    .chkout_section.chkout_card .card-body{
        padding:0 !important;
    }
    .traffic_analysis.grid_bg .daily-trafic-view{
        display: block !important;
    }
    .traffic_analysis.grid_bg .daily-trafic-view .switch_btn{
        width:100% !important;
        border:none !important;
    }
    .page_title .left_icon_title{
        width: 50px !important;
        height: 50px !important;
    }
    .sub_title_dash{
        font-size: 16px !important;
    }
    .traffic_analysis.grid_bg{
        padding:0 !important;
    }
    .main_top_banner .about-sec .about-content h1{
        font-size: 30px !important;
    }
    .main_top_banner .about-sec .about-content p{
        font-size: 14px !important;
        overflow:visible !important;
        display: block;
    }
    .main_top_banner .header .main_container .navbar .navbar-brand{
        width:60%;
    }
    .main_top_banner .banner_rightside{
        height:95vh !important;
    }
    .footer_bg .footer_menu_list ul.contact_list {
        padding: 0;
    }
    .footer_logo {
        padding: 0 !important;
        text-align: center;
        margin: 20px 0;
    }
    .top_header_Bar .navbar-nav {
        display: none;
    }
    .top_header_Bar nav.navbar {
        display: block;
        width: 100%;
        text-align: center;
        // padding: 7px 0 !important;
    }
    .top_header_Bar nav.navbar a.social_bar {
        display: inline-block;
    }
    .navItem:nth-of-type(1) { order: 4; }
    .navItem:nth-of-type(2) { order: 3; }
    .navItem:nth-of-type(3) { order: 1; }
    .navItem:nth-of-type(4) { order: 2; }
}

@media (max-width: 320px) {  
    .main_top_banner .about-sec .about-content h1{
        font-size: 20px !important;
    }
    .main_top_banner .about-sec .about-content p{
        font-size: 15px !important;
        display: -webkit-box!important;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden !important;
    }
}
// Extra large devices (large desktops, 1350px and up)
@media only screen and (min-width: 1300px) and (max-width: 1250px) {
    .main_container{
        width:100%;
        max-width:1200px;
    }    
    .main_top_banner .about-sec .about-content h1 {
        font-size: 70px !important;
    }
    .increase_org_topic .incres_top_head {
        font-size:50px!important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 810px) and (max-height: 1100px) {  
    .main_top_banner{
        min-height: 750px;
        background-position: center bottom !important;
    }    
    .main_top_banner .about-sec{
        height: 100vh !important;
    }
}
@media only screen and (min-width: 321px) and (max-width: 768px) and (min-height: 500px) and (max-height: 700px) {  
    .main_top_banner{
        min-height: 850px;
    }        
}
@media only screen and (min-width: 321px) and (max-width: 360px) and (max-height: 640px) { 
    .main_top_banner{
        min-height: 100%;
    }
    .main_top_banner .banner_rightside {
        height: 100vh !important;
    }
}