.left-sidebar {
    @include width(18%);
    @include height(100vh);
    @include top(0);
    @include z-index(10);
    @include padding-top(0);
    background-color: $login_bg;
    @include border-radius(0);
    position: $fixed;
    .navbar{
        @include padding(0);
        @include width(100%);
        display:$block;
        @include height(auto);
        .navbar-header {
            @include width(100%);
            line-height: $normal;
            position: $relative;
            @include z-index(10);
            background-color: $transparent;
            .navbar-brand{
                @include margin(0 0 10px 0);
                text-align: $center;
                @include width(100%);
                img{
                    @include max-width(80%);
                }
            }
        }
        
    }
    .user_profile_set{
        .user-profile{
            text-align: $center;
            .profile_link{
                display:$inline-block;
                @include width(100%);
                .profile_img{
                    display:$inline-block;
                    position: $relative;
                    .user-photo-block{
                        @include border-radius(100%);
                        @include width(50px);    
                        @include height(50px);             
                    }
                    .onoff_status {
                        position: $absolute;
                        @include bottom(5px);
                        @include right(0px);                    
                        background: $white;
                        @include border-radius(100%);
                        @include width(16px);
                        @include height(16px);
                        @include line-height(16px);
                        text-align: $center;
                        @include font-size(11px);
                        @include padding-left(1px);
                        &.online_check{
                            color: $green;
                        }
                        &.offline_check{
                            color: $red;
                        }
                    }
                }
                .usernamelink{
                    .user-name{
                        color:$white;
                        @include font-size(20px);
                        font-weight:$font-wt_bold;
                        font-family: $font-family1;
                        display: $block;
                        @include width(100%);
                        white-space: $nowrap;
                        @include padding(0 20px);
                        text-overflow: $ellipsis;
                        overflow: $hidden;
                        @include margin(10px 0 0 0);
                    }
                    &:hover{
                        text-decoration: $none;
                        .user-name{
                            color:$menu_active;
                        }
                    }
                }
                .status{
                    color:$menu_active;
                    @include font-size(18px);
                    font-weight:$font-wt_regular;
                    font-family: $font-family1;
                }
                .usertype_status {
                    color: white;
                    font-size: 18px;
                    font-weight: 500;
                    font-family: "Segoe-UI";
                }
            }
        }
    }
    .scroll-sidebar{ 
        overflow: $hidden;     
        height: calc(100vh - 260px);
        &:hover {
            overflow: $auto;     
        }
        .sidebar-nav{
            ul{
                @include padding(0);
                li{
                    list-style-type: $none;
                    @include margin(0);
                    .sidebar-link{
                        color:$white;
                        @include font-size(16px);
                        font-weight:$font-wt_regular;
                        font-family: $font-family1;
                        display: $block;
                        @include width(auto);
                        @include margin(0 0 0 30px);
                        background: $transparent;
                        @include padding(5px);
                        @include border-radius(25px 0 0px 25px);
                        align-items: $center;
                        .icon_img {
                            @include width(32px);
                            display: $inline-flex;
                            @include height(32px);
                            background: $transparent;
                            @include border-radius(100%);
                            text-align: $center;
                            justify-content: $center;
                            @include padding(8px);
                            @include margin-right(10px);
                            vertical-align: $middle;
                            img {
                                @include width(100%);
                            }
                            .fav_icon{
                                @include font-size(16px);
                            }
                        }
                        &.active{
                            background: $menu_active;
                            @include font-size(16px);
                            font-weight:$font-wt_bold;
                            .icon_img {
                                background: $menu_img_active;                           
                            }
                        }
                        &:hover{
                            text-decoration: $none;
                        }
                    }
                }
            }   

        }
    }
}