.about_pg_menu {
    display: $flex;
    .dropdown{
        @include margin-right(10px);
        .dropdown-toggle::after{
            display: $none;
        }
        .btn_menu_item {
            color:$black;
            border:1px dashed $dotted_line;
            @include border-radius(5px);
            background: $white;
            @include font-size(15px);
            font-weight:$font-wt_bold;
            font-family: $font-family1;
            @include padding(8px 28px);
            &:hover,
            &.active{
                background: $menu_active;
                color:$white;
                border:1px dashed $menu_active;
            }
        }
        &.show{
            .btn_menu_item {
                background: $menu_active;
                color:$white;
                border:1px dashed $menu_active;
                @include box-shadow($none);
            }
        }
        .dropdown-menu {
            background: $login_bg;
            @include border-radius(10px);
            @include margin(5px 0 0 0);
            .dropdown-item{
                color: $white;
                @include font-size(16px);
                font-weight:$font-wt_regular;
                font-family: $font-family1;
                @include margin(0 0 10px 0);
                @include width(auto);
                &:hover,
                &:focus{
                    background:$none;
                    color:$menu_active;
                    font-weight:$font-wt_bold;
                }
            }
        }
    }    
}
.aboutus_imgsets{
    overflow: hidden !important;
    border-radius: 0 20px 20px 0;
    img{
        width:auto;
        max-width: 700px;
        border-radius: 0 20px 20px 0;
    }
}
.btm_about_content{
    @include height(100%);
    @include min-height(300px);
    .card_div{
        @include width(100%);
        .about_pg_title{
            color:$subtitle_color;
            @include font-size(30px);
            font-weight:$font-wt_bold;
            font-family: $font-family1;
            @include margin(15px 0);
            display: $block;
            @include width(100%);
        }
        p{
            color:$dotted_line;
            @include font-size(20px);
            font-weight:$font-wt_regular;
            font-family: $font-family1;
        }
        a{
            color:$dotted_line;
            @include font-size(20px);
            font-weight:$font-wt_regular;
            font-family: $font-family1;
            display: block;
            &:hover {
                color: $menu_active;
            }
        }
    }        
}    
.bor_rad_set{
    @include border-radius(0 20px 20px 0);
}
.content_div{
    @include max-height(300px);
    overflow: $auto;
}

.max-ht{
    @include max-height(260px);
    overflow: $auto;
}

.error-text {
    color: red;
}