.blogger-items{
    .card{
        @include border-radius(20px);
        border: $none;
        padding: 15px 20px;
        .price-info{
            color:$switch_color;
            @include font-size(18px);
            font-weight:$font-wt_bold;
            font-family: $font-family1;
        }
        .products_image{
            @include width(100%);
            a{
                .blogger_img{
                    @include border-radius(100%);
                    @include width(140px);
                    @include height(140px);
                    display: $flex;
                    @include margin(0 auto);
                    img{
                        border:8px solid $white;
                    }
                }
            }
        }
        .product_title{
            color:$menu_active;
            @include font-size(20px);
            font-weight:$font-wt_bold;
            font-family: $font-family1;
            display: $block;
            @include width(100%);
            text-align: $center;
            @include margin(10px 0 5px 0);
        }
        .new_seller{
            @include width(100%);
            text-align: $center;
            display: $block;
            .new_seller_btn{
                color:$ebony_clay;
                @include font-size(16px);
                font-weight:$font-wt_regular;
                font-family: $font-family1;
                @include margin(0 0 10px 0);
            }
        }
        .rating_star{
            @include height(5px);
            text-align: $center;
            @include margin(0 auto 15px auto);
            span{
                color:$secondary_clr;
                @include font-size(14px);
            }
        }
        .btn-groups{
            .favorite_btn{
                &:hover{
                    text-decoration: $none;
                    background: $menu_active;
                    color: $white !important;
                    border:2px solid $menu_active;
                }
            }
            .view_btn{
                &:hover{
                    text-decoration: $none;
                    background: $transparent;
                    color:$ebony_clay !important;
                    border:2px solid $ebony_clay;
                }
            }
        }
        .blogger_btn{
            border:$none;
            @include padding(10px 0);
            @include width(100%);
            color:$white;
            @include font-size(18px);
            font-weight:$font-wt_bold;
            font-family: $font-family1;
            @include margin(0);
            @include border-radius(10px);
        }
        &.blogger_red{
            background:$blogger_red_clr;
            .products_image{
                a{
                    .blogger_img{
                        border:8px solid $img_border_red;
                    }
                }
            }
            .blogger_btn{
                background:$secondary_clr;
            }
        }
        &.blogger_blue{
            background:$blogger_blue_clr;
            .products_image{
                a{
                    .blogger_img{
                        border:8px solid $img_border_blue;
                    }
                }
            }
            .blogger_btn{
                background:$blogger_btn_blue;
            }
        }
        &.blogger_green{
            background:$blogger_green_clr;
            .products_image{
                a{
                    .blogger_img{
                        border:8px solid $img_border_green;
                    }
                }               
            }
            .blogger_btn{
                background:$menu_active;
            }
        }
        &.blogger_brown{
            background:$blogger_brown_clr;
            .products_image{
                a{
                    .blogger_img{
                        border:8px solid $img_border_brown;
                    }
                } 
            }
            .blogger_btn{
                background:$primary_clr;
            }
        }
    }
}
.controls-top{
    display: $block;
    text-align: $center;
    .btn_arrow{
        background:$ebony_clay;
        color:$white;
        @include font-size(18px);
        @include padding(6px 30px);
        @include margin(0 10px);
        @include border-radius(10px);
        &:hover{
            background:$menu_active;
            box-shadow: 0 2px 4px 0px $box_shadow_main_content;
        }
    }
}
.blogger_profile{
    .portfolio-item{
        img {
            width: 100px;
            height: 150px;
            object-fit: cover;
            border-radius: 5px;
        }
    }
    .expertise_set{
        .badge-success {
            color: $white;
            background-color: $menu_active;
            font-size: 15px;
        }
    }
    .btn_light_green.about_me{
        color:$white;
        &:disabled,
        &.disabled{
            opacity: 0.1;
        }
        &:hover{
            text-decoration: none;
            color:$white;
        }
    }
    .bg_blogger_top{
        background: $white;
        padding: 12px;
        border-radius: 10px;
        box-shadow: 0 0 8px 0px $box_shadow_main_content;
    }
    .ordernow_btn{
        padding: 4px 5px;
        font-size: 14px;
        width: 125px;
        margin: 24px 0 0 0;
    }
    .file_name_attach{
        display: block;
        margin: 0 15px;
        .uploaded_imgs{
            margin:0 0 10px 0;
        }
        .uploaded_file{
            color:$menu_active;
            white-space: $flex;
            &:hover{
                text-decoration: $none;
            }
        }
        .upolade_filename{
            background:$menu_active;
            color:$white;
            @include font-size(15px);
            font-weight:$font-wt_bold;
            font-family: $font-family1; 
            @include width(auto);
            overflow:$hidden;
            text-overflow: $ellipsis;
            text-align: $left;
            white-space: $nowrap;
            padding: 4px 12px;
            line-height: normal;
            border-radius: 5px;
            &:hover{
                text-decoration: $none;
            }
        }
    }
}
.modal-dialog-blogger {
    max-width: 450px;
    margin: 30px auto;
}
.f-24{
    font-size: 30px;
}
.sellers_list {
    @include width(100%);
    text-align: $center;
    display: $block;
    .new_seller_btn{
        color:$ebony_clay;
        @include font-size(16px);
        font-weight:$font-wt_regular;
        font-family: $font-family1;
        @include margin(0 0 10px 0);
    }
}
.cw_last_login {
    @include width(100%);
    display: $block;
    .new_seller_btn{
        color:$ebony_clay;
        @include font-size(16px);
        font-weight:$font-wt_regular;
        font-family: $font-family1;
        @include margin(0 0 10px 0);
    }
}