.cart-section {
    position: $absolute;
    background: $white;
    @include box-shadow(0 5px 6px $noti_colr);
    @include top(143%);
    @include left(-570%);
    @include width(460px);
    @include padding(20px);
    border: 2px solid $noti_colr;
    .cart_head{
        color:$switch_color;
        @include font-size(18px);
        font-weight:$font-wt_bold;
        font-family: $font-family1;
        @include border-bottom(1px dotted $line_clr);
        @include margin(0);
        @include padding(0 0 10px 0);
        .go_to_cart{
            color:$menu_active;
            @include font-size(15px);
            font-weight:$font-wt_bold;
            font-family: $font-family1;
            float:$right;
            @include margin(5px 0 0 0);
            &:hover{
                color:$switch_color;
            }
        }
    }   
    .cart-menu{
        overflow-y: $auto;
        @include max-height(350px);
        @include padding(15px 0);
        
        li{
            border-bottom:1px dotted $line_clr;
            list-style: $none;
            @include margin(0 0 15px 0);
            @include padding(0 0 15px 0);
            span.img_bg_green {
                background: $menu_active;
                @include border-radius(100%);
                @include padding(12px);
                @include width(50px);
                @include height(50px);
                display: $flex;
                text-align: $center;
                justify-content: $center;
                align-items: $center;
                color: $white;
                @include font-size(25px);
            }
            .right_cont_cart{
                h3{
                    color:$switch_color;
                    @include font-size(15px);
                    font-weight:$font-wt_bold;
                    font-family: $font-family1;
                }
                p{
                    color:$slider_content;
                    @include font-size(15px);
                    font-weight:$font-wt_regular;
                    font-family: $font-family1;
                    @include margin(0);
                }
            }
        }
    }
    #triangle-up {
        @include width(10px);
        @include height(10px);
        border-left: 10px solid $transparent;
        border-right: 10px solid $transparent;
        border-bottom: 20px solid #a4f1cb;
        position: $absolute;
        @include top(-20px);
        @include right(0);
        @include left(405px);
        @include margin(auto);
    }
}