.dash-box1{
    background: $graph1_bg $no-repeat $right $center $footer_bg_color !important;
    background-size: $contain;
    border: $none !important;
    position: $relative;
    @include border-radius(10px !important);
    @include max-width(330px);
    @include height(200px);
    .payment_count{
        color:$white;
        @include font-size(22px);
        font-weight:$font-wt_bold;
        font-family: $font-family5;
        @include margin(10px 0 0 0);
    }
    .clear_pay_text{
        color:$white;
        @include font-size(18px);
        font-weight:$font-wt_regular;
        font-family: $font-family1;
        white-space:nowrap;
    }
    .droplistmenu{
        .dropdown-toggle{
            background:$none;
            border: $none;
            color: $white;
            float: $right;
            @include margin(0 0 50px 0);
            &::after{
                display: $none ;
            }
        }
    }
    &::after{
        background: $graph1_bg_right $no-repeat 0 0 $transparent !important;
        @include content("");
        position: $absolute;
        @include width(135px);
        @include height(218px);
        @include right(0);
        @include top(-54px);
    }
}
.popup-image{
    position: relative;
    z-index: 1;
}
.dash-box2{
    &.card{
        border: $none;
        @include box-shadow(0px 1px 4px 2px whitesmoke);
        .card-body{            
            @include padding(18px 15px); 
            .media{
                display: $flex;
                align-items: $center;
                justify-content: $left;
                @include padding(10px);
                @include border-radius(10px);
                @include width(200px);
                &.media_1{
                    background:$dashbd_bg1 $no-repeat $center $center $transparent;
                    background-size:$cover;
                }
                &.media_2{
                    background:$dashbd_bg2 $no-repeat $center $center $transparent;
                    background-size:$cover;
                }
                &.media_3{
                    background:$dashbd_bg3 $no-repeat $center $center $transparent;
                    background-size:$cover;
                }
                .count_statics{
                    color:$white;
                    @include font-size(15px);
                    font-weight:$font-wt_regular;
                    font-family: $font-family5;
                    @include margin(0);
                }
                .cont_statis{
                    color:$white;
                    @include font-size(13px);
                    font-weight:$font-wt_bold;
                    font-family: $font-family1;
                    @include margin(0);
                }
            }
            .selectpicker_form{
                .btn.dropdown-toggle.btn-light{
                    background-color: $transparent;
                    border: 1px solid $switch_color;
                    color:$switch_color;
                }
                .bootstrap-select{
                    .dropdown-menu{
                        @include left(inherit !important);
                        @include right(0);
                        @include padding(0);
                        .dropdown-item.active, 
                        .dropdown-item:active{
                            background-color: $menu_active;
                        }
                    }
                }
            }
        }
    }
}

.traffic_analysis{
    &.grid_bg{
        @include padding(20px);
        @include border-radius(10px);
        border:$none;
        background:$grid_bg;        
        .daily-trafic-view{
            border: 1px solid $menu_active;
            @include width(100%);
            display: $flex;
            @include border-radius(20px);
            .switch_btn {
                background: $transparent;
                border-right: 1px solid $menu_active;
                border-left: $none;
                border-top: $none;
                border-bottom: $none;
                @include padding(5px 20px);
                @include border-radius(20px);
                &.active-tab{
                    background: $menu_active;
                    color:$white;                    
                }
                &:last-child{
                    border-right:$none;
                }
            }
        }
    }
}

.ant-picker{
    @include padding(0 10px !important);
    @include border-radius(5px);
}
.ant-picker-range .ant-picker-active-bar{
    background: $bannergreen !important;
}
.ant-picker-input.ant-picker-input-active{
    background: $transparent !important;
}
.ant-picker-focused{
    border-color: $bannergreen !important;
    @include padding(0);
}
.ant-picker-input > input{
    color:$bannergreen;
    @include font-size(15px);
    font-weight:$font-wt_regular;
    font-family: $font-family1;
    @include padding(5px 10px);
    text-align: $left;
}
.ant-picker-input.ant-picker-input-active input{
    color: $bannergreen;
}
.ant-picker-suffix,
.ant-picker-clear,
.ant-picker-separator{
    color:$bannergreen;
}
.ant-picker-focused .ant-picker-separator{
    color:$bannergreen;
}
.ant-picker-separator{
    @include top(-4px);
}
.lineChart .analytics-dashboard {
    @include width(100%);
    position: $relative;
}
.lineChart .analytics-dashboard #gapi-view-selector-container.gapi-view-selector-container{
    display: $none;
    @include width(100%);
}
.lineChart .analytics-dashboard #gapi-view-selector-container.gapi-view-selector-container table {
    @include width(30% !important);
    float: $left;
}
.analytics-auth-widgets {
    @include width(100%);
    text-align: $right;
    display: $flex;
    justify-content: $flex-end;
}
.analytics-sign-out-button{
    color: $white;
    border:2px solid $primary_clr;
    @include border-radius(5px);
    background: $primary_clr;
    @include font-size(14px);
    font-weight:$font-wt_bold;
    font-family: $font-family1;
    @include padding(2px 12px);
    @include width(auto);
    display: $inline-block;
    margin-top: 5px;
}
.analytics-refresh-button-container button{
    color: $white;
    border:2px solid $secondary_clr;
    @include border-radius(5px);
    background: $secondary_clr;
    @include font-size(14px);
    font-weight:$font-wt_bold;
    font-family: $font-family1;
    @include padding(2px 12px);
    @include width(auto);
    display: $inline-block;
}
.gapi-analytics-auth-styles-signinbutton{
    color: $white!important;
    border:2px solid $secondary_clr!important;
    @include border-radius(5px!important);
    background: $secondary_clr!important;
    @include font-size(14px!important);
    font-weight:$font-wt_bold!important;
    font-family: $font-family1!important;
    @include padding(2px 2px!important);
    @include width(auto!important);
    display: $inline-block!important;
    cursor: pointer;
}
.gapi-analytics-auth-styles-signinbutton-image{
    border-right: #ffffff 1px solid!important;
}
h3.graph-maintainance {
    text-align: center;
    margin: 10px 0;
    font-size: 1.05rem;
}
.grid_bg_white{
    @include padding(10px);
    @include border-radius(10px);
    border:$none;
    background:$white;
    @include box-shadow(0 0px 8px $border_line);
}