.user-list {
    min-width: 310px;
    max-width: 100%;
}
.radius-50 {
    border-radius: 50px;
}
.user-info {
    position: relative;
}
.user-info img {
    width: 46px;
    height: 46px;
    object-fit: cover;
    border: 1px solid #fff;
}
.user-info .user-status {
    background-color: #cec8c8;
    border: 1px solid #fff;
    border-radius: 50px;
    height: 10px;
    width: 10px;
    position: absolute;
    bottom: 0;
    right: 4px;
}
.user-info .user-status.on {
    background-color: $menu_active;
}
.search_bar_div{
    position: relative;
    .user-search-box{
        padding: 0 0 0 35px;      
        border-radius: 20px;  
        color:$slider_content;
    }
    .search_icon{
        position: absolute;
        left: 10px;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 16px;
        width: 16px;
        color:$slider_content;
    }
}
.on-date,

.date-size {
    font-size: 75%;
    font-weight: 400;
    color: #6c757d;
    font-family: "Segoe-UI";
}

.user-bio {
    color: #9b9b9b;
}
.user-bio {
    max-width: 190px;
}

.user-list .user-list-item.active {
    background-color: $menu_active;
}
.user-list-item.active .user-name,
.user-list-item.active .on-date,
.user-list-item.active .user-bio {
    color: #fff;
}
.overflow-y {
    overflow-y: auto;
}
.chat-section-wrapper{
    background:$grid_bg;
}
.chat-section-wrapper .chatScroll {
    height: 100%;
    max-height: calc(100vh - 475px);
    min-height: calc(100vh - 475px);
    margin: 10px;
    width: calc(100% - 20px);
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
}
.min-100 {
    min-height: 100%;
}
.user-chat {
    margin-top: 15px;
    width: 100%;
}
.user-chat{
    .card {
        @include max-width(100%);
        background: $chat_left_bg;
        color: $white;
        @include min-height(45px);
        border: 1px solid $ebony_clay;
        position: $relative;
        @include margin-left(0);
        @include border-radius(10px);
        &.leftchatbox{
            // @include min-width(150px);
        }
        .left_iconset {
            color: $chat_left_bg;
            position: $absolute;
            @include left(-7px);
            @include top(4px);
            @include font-size(20px);
        }
    }
}
.user-reply{
    .card {
        background-color: $menu_active;
        @include max-width(100%);
        color: $white;
        border: 1px solid $menu_active;
        position: $relative;
        @include margin-left(0);
        @include border-radius(10px);
        @include min-width(inherit);
        &.leftchatbox{
            // @include min-width(150px);
        }
        .left_iconset {
            color: $menu_active;
            position: $absolute;
            @include left(inherit);
            @include right(-7px);
            @include top(4px);
            @include font-size(20px);
        }
    }
}
.user-info {
    @include margin(0 15px 0 0);
}
.user-reply {
    justify-content: $flex-end;
    @include width(100%);
}
.user-reply .user-info {
    order: 2;
    @include margin(0 0 0 15px);
}
.user-chat .card img {
    @include max-width(125px);
    @include max-height(200px);
    @include width(125px);
    @include border-radius(5px);
}
.inbox_page{
    .inbox_div_pg.card{
        @include border-radius(20px);
        border:$none !important;
        max-height: 100vh;
    }
    .user-list{
        border:1px solid $input_border_clr !important;
        @include border-radius(10px 0 10px 0);
    }
}
.inbox_div_pg{
    .user-name{
        color:$chat_left_bg;
    }
}
.inbox_title{
    color:$menu_active;
    @include font-size(15px);
    font-weight:$font-wt_bold;
    font-family: $font-family1;
}
.text_time_set{
    @include font-size(12px);
    font-weight:$font-wt_regular;
    font-family: $font-family1;    
    @include width(100%);
    @include padding-left(15px);
    &.txt_clr_green{
        color:$menu_active;
        float:$left;
    }
    &.txt_clr_grey{
        color:$dotted_line;
        float:$right;
    }
}
.chat-section-footer{
    border:1px solid $chat_msg_border;
    @include border-radius(10px);
    @include padding(15px);
    @include margin(20px);
    input#message-send {
        background: $transparent;
        border: $none;
        @include padding(0);
    }
    &::placeholder{
        color:$switch_color;
    }
}
.file_updoaded_dets{
    .list-group {
        @include border(1px solid $footer_bg_color !important);
        @include padding(10px  !important);
        @include margin(10px 15px !important);
        @include width(calc(100% - 30px));
        background: $white;
    }
    .list-group-item {
        @include margin(0 0 5px 0);
        @include padding(0);
        border: $none;
        color: $bannergreen;
        @include font-size(15px);
    }
    .close_icon {
        background: $transparent;
        border: $none;
        color: $footer_bg_color;
        @include font-size(20px);
        line-height: $normal;
    }
}
.chat-section-header {
    background: $white;
    @include margin(2px 0 0 0);
}
.max_width_80{
    @include max-width(78%);
}
.user_msgs{
    .fa.fa-file-text-o{
        color:$white;
    }
    .white-icon {
        color:$white!important;
    }
}
.count_design{
    position: $relative;
    .user-name{
        @include max-width(86%);
    }
    .badge{
        position: $absolute;
        @include top(4px);
        @include right(0);
        background: $red;
        color: $white;
        @include border-radius(100%);
    }
}
.chat_ht_scroll{
    @include height(calc(100vh - 390px));
    overflow-y: $auto;
}
.custom_order_left{
    @include margin-left(0);
    border: 1px solid $border_line;
    float: $left;
    max-width:500px;
}
.custom_order_right{
    @include margin-right(0);
    border: 1px solid $border_line;
    float: $right;
    max-width: 500px;
}
.custom_order_right ~ .text_time_set.txt_clr_grey {
    position: relative;
    right: 0;
}
.custom_order_left ~ .text_time_set.txt_clr_green {
    position: relative;
    left: 0;
    padding: 0;
}
.bg_light_gry_set{
    background:$dim_white;
    @include font-size(20px);
    font-weight:$font-wt_bold;
    font-family: $font-family1;    
    @include padding(10px 20px);
    @include margin(0 0 10px 0);
    border-bottom: 1px solid $border_line;
    .custom_head{
        color:$menu_active;
    }
}
.body_cutome_order{
    @include padding(10px 20px);
    .estimate_delvd_days{
        display: $flex;
        align-items: $center;
        .img_cusord {
            box-shadow: 0 0 8px 2px #a0a0a0;
            border: 5px solid #fff;
            border-radius: 6px;
        }
        .est_delvery{
            @include padding(10px);
            text-align: $center;
            p{
                @include font-size(15px);
                font-weight:$font-wt_regular;
                font-family: $font-family1; 
                @include margin(0);
            }   
            .days_count{
                @include font-size(22px);
                font-weight:$font-wt_bold;
                font-family: $font-family1; 
            }
        }
    }
}
.footer_cutome_order{
    border-top:1px solid $border_line;
    @include padding(10px);
    float: $left;
    @include width(100%);
}

.your_offer_inlcudes{
    border-bottom: 1px solid $notify_box_shadow;
    @include margin(0 0 20px 0);
    display: $inline-block;
    @include width(100%);
    h6{
        @include font-size(16px);
        font-weight:$font-wt_regular;
        font-family: $font-family1; 
        color:$slider_content;
    }
    .offerincludes{
        @include padding(0);
        li{
            @include font-size(15px);
            font-weight:$font-wt_regular;
            font-family: $font-family1; 
            display: inline-block;
            @include padding(0 15px 0 0);
            color: $menu_active;
            span{
                @include margin(0 5px 0 0);
            }
        }
    }
}