.main_top_banner{    
   background: $top_banner_bg $no-repeat $center $bottom $transparent;
   @include height(auto);
   @include width(100%);
   height: auto !important;
   padding-bottom: 60px;
   background-size: $cover;
    .about-sec {
      @include height(auto); 
      @include padding(30px 0 0 0);     
      .about-content{
         @include padding-left(30px);
         @include padding-top(3rem);
         h1{
            font-family: $font-family2;
            @include font-size(40px);           
         }
         p{
            @include font-size(20px);
         }
      }
   }   
   .banner_rightside{
      @include width(100%);
      position: $relative;
      display: flex;
      flex-direction: column;
      background-clip: border-box;
      img{
         @include width(100%); 
         flex-shrink: 0;                       
      }
      &.banner_rightside_seller{
         img{
            @include width(auto); 
            flex-shrink: 0;
            max-height: 432px;                         
         }
      }
   }
   .header{
      .navbar{
         display: $flex;
         align-items: $center;
         @include padding(15px 0);
      }  
   }     
}
.main-title {
   width: 100%;
   text-align: $center;
   .pg_mid_head{
      color:$ebony_clay;
      @include font-size(35px);
      font-weight:$font-wt_bold;
      font-family: $font-family2;
      @include margin(0);
      @include width(100%);
   }  
   .subline_head{
      color:$subline_head;
      @include font-size(20px);
      font-weight:$normal;
      font-family: $font-family1;
   }
}
.landing_swiper{
   .swiper-wrapper{
      align-items: $flex-end;
      .swiper-slide{               
         .card{
            background:$light_white;
            border:$none;
            @include border-radius(5px);
            .card-body{
               @include padding(15px);
               .media-heading{
                  color:$ebony_clay;
                  @include font-size(18px);
                  font-weight:$font-wt_bold;
                  font-family: $font-family1;
                  @include margin(3px 0 0 0);
                  line-height: $normal;
               }
               .mid_cnt{
                  margin: 5px 0 0 0 !important;
                  p{
                     color:$slider_content;
                     display: -webkit-box;
                     -webkit-line-clamp: 3;
                     -webkit-box-orient: $vertical;
                     overflow: $hidden;
                     text-overflow: $ellipsis;
                  }
                  span{
                     color:$slider_content;
                     font-weight:$font-wt_bold;
                  }
               }
               .media{
                  .media-object{
                     @include width(57px);
                     @include height(57px);
                     @include border-radius(100%);
                  }
               }
               .rating_star{
                  span{
                     @include font-size(14px);   
                  }
               }
               .price-info{
                  color:$ebony_clay;
                  @include font-size(25px);
                  font-weight:$font-wt_bold;
                  font-family: $font-family1;
               }
               .btn_brown{
                  @include padding(4px 5px);
               }
            }      
         }
         &.swiper-slide-active{
            .card{
               background:$bannergreen;
               .card-body{
                  @include padding(20px);                  
                  .media{
                     .media-object{
                        @include width(80px);
                        @include height(80px);
                     }
                  }
                  .media-heading{
                     color:$white;
                     @include font-size(24px);                    
                     @include margin(0);
                  }
                  .mid_cnt{
                     margin: 10px 0 0 0 !important;
                     p{
                        color:$white;
                     }
                     span{
                        color:$white;
                     }
                  }
                  .rating_star{
                     span{
                        color: $secondary_clr;
                        @include font-size(20px);   
                     }
                  }
                  .price-info{
                     color:$white;
                     @include font-size(30px);
                  }
                  .btn_brown{                     
                     @include padding(8px 10px);
                     @include font-size(18px);
                  }
               }
            }
         }
      }
   }   
}
.bg_lightwhite{
   background-color: $light_white;
}
.how_it_works{
   justify-content: $center;
   .hiw_head{
      color:$ebony_clay;
      @include font-size(20px);
      font-weight:$font-wt_bold;
      font-family: $font-family1;
      .border_bottom{
         @include border-top(4px solid $bannergreen);
         display: $block;
         @include width(85px);
         @include margin(10px 0 0 0);
      }
   }
   .hiw_content{
      color:$ebony_clay;
      @include font-size(20px);
      font-weight:$normal;
      font-family: $font-family1;
   }
   .max_wid_hiw1{
      background: $line1 $no-repeat $right 28% $transparent;
      @include width(33%);
      text-align: $left;
      .pr_percent{
         @include padding-right(40%);
      }
   }
   .max_wid_hiw2{
      background: $line2 $no-repeat $right 28% $transparent;
      @include width(33%);
      @include padding-top(120px);
      text-align: $left;
      .pr_percent{
         @include padding-right(40%);
      }
   }
   .max_wid_hiw3{
      @include width(20%);
      text-align: $left;
   }  
   .how_a_seller{
      .pr_percent {
         border: 1px solid #F0F0F0;
         border-radius: 20px;
         padding: 20px;
         min-height: 306px;
         .hiw_head{
            color:$ebony_clay;
            @include font-size(20px);
            font-weight:$font-wt_bold;
            font-family: $font-family1;
         }
         p{
            color:$ebony_clay;
            @include font-size(20px);
            font-weight:$font-wt_regular;
            font-family: $font-family1;
         }
         .greenborder_line{
            background:$bannergreen;
            height: 5px;
            width: 17%;
            display: $block;
            margin: 10px 0;
         }
         .green_arrow{
            color:$bannergreen;
         }
         .hover_img{
            display: $none;
         }
         &:hover{
            background:$white;
            box-shadow: 0 3px 8px #ececec;
            .normal_img{
               display: $none;
            }
            .hover_img{
               display: $block;
            }
         }
     }
   } 
}
.count_plus_names{
   .count_head{
      color:$primary_clr;
      @include font-size(35px);
      font-weight:$normal;
      font-family: $font-family2;
      @include margin(0);
      line-height: $normal;
   }
   .count_cnt{
      color:$ebony_clay;
      @include font-size(18px);
      font-weight:$font-wt_bold;
      font-family: $font-family1;
      @include margin(0);
      line-height: $normal;
   }
   .bg_dec{
      background: $white;
      @include padding(15px);
      @include border-radius(10px);
   }
   .boxshade{
      @include box-shadow(0px 1px 10px 0px #ecebeb);
      @include padding(15px 12px);
      @include border-radius(10px);
   }
}
.bg_green{
   background: $bannergreen;
}
.increase_org_topic{
   .incres_top_head{
      color:$white;
      @include font-size(30px);
      font-weight:$font-wt_bold;
      font-family: $font-family2;
   }
   .incres_top_cnt{
      color:$white;
      @include font-size(20px);
      font-weight:$normal;
      font-family: $font-family3;
   }
}
.pricerange_border_bg{
   border:6px solid #485570;
   padding: 10px;
   margin-right: 20px;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 200px;
   span{
      color:$white;
      @include font-size(18px);
      font-weight:$font-wt_bold;
      font-family: $font-family1;
   }
   .lastline_blg{
      font-weight:$font-wt_regular;
   }
   .greenfont{
      color:$bannergreen;
      @include font-size(40px);
      font-weight:$font-wt_bold;
      line-height: $normal;
   }
} 
.match_with_set{
   color:$white;
      @include font-size(17px!important) ;
      font-weight:$font-wt_bold;
      font-family: $font-family1;
}
.blog_postcontent{
   color:$white;
   @include font-size(18px !important);
   font-weight:$font-wt_regular;
   font-family: $font-family1;
   .greenfont{
      color:$bannergreen;
   }
}
.conduct_content_bg{
   background: $white;
   @include box-shadow(0 0px 16px 6px $grey_shade);
   @include padding(0);
   @include border-radius(5px);
   .grey_bg{
      background-color:$conduct_headr_top;
      @include padding(10px 15px);
      @include border-radius(5px 5px 0 0);
   }
   .conduct_slider{
      @include padding(10px 25px);
      .swiper-slide{
         .card{
            @include box-shadow(0 0 5px 0px #e0dbdb);
            .card-title{
               color:$secondary_clr;
               @include font-size(25px);
               font-weight:$normal;
               font-family: $font-family2;
               @include margin(0);
            }
         }         
      }
   }
}
.banner-wrap {
   text-align: $center;
}

.visual_dashboard{
   .subline_head{
      color:$ebony_clay;
      @include font-size(20px);
      font-weight:$font-wt_regular;
      font-family: $font-family1;
   }
}
.top_header_Bar{
   background-color: $menu_active;
   .social_bar{
      color:$white;
      background:$white;
      border-radius: 100%;
      color: $menu_active;
      transition: transform 250ms;
      padding: 0;
      margin: 6px 8px;
      font-size: 15px;
      width: 25px;
      height: 25px;
      text-align: center;
      display: flex;
      align-items: center;      
      justify-content: center;
      &:hover{
         transform: translateY(-5px);
         background: $ebony_clay;
         color: $white;
      }
   }
   .bgicon{
      color:$white;    
   }
   span{
      color:$white;
   }
   a{
      color:$white;
      &:hover{
         text-decoration: $none;
      }
   }
}