.modal_popup{
    &.login_popup{
        @include max-width(600px);
        @include width(100%);
    }
    .modal-content{
        top:60px;
    }
    .facebook{
        color: $white;
        border:2px solid $fabebook_blue;
        @include border-radius(5px);
        background: $fabebook_blue;
        @include font-size(15px);
        font-weight:$font-wt_bold;
        font-family: $font-family1;
        @include padding(8px 18px);
        display: $inline-block;
        opacity: 1;
        p{
            line-height: $normal;
        }
        &:hover,
        &:focus{
            background: $fabebook_blue;
            border:2px solid $fabebook_blue;
            opacity: 0.8;
        }
    }
    .google_btn{
        .btn.btn-outline-secondary{
            color: $white!important;
            border:2px solid $ebony_clay!important;
            @include border-radius(5px!important);
            background: $ebony_clay!important;
            @include font-size(16px!important);
            font-weight:$font-wt_bold!important;
            font-family: $font-family1!important;
            @include padding(0 18px!important);
            display: $inline-block !important;    
            @include height(40px);
            @include line-height(35px);
            box-shadow: $none !important;
            &:hover,
            &:focus{
                background: $switch_color!important;
                border:2px solid $switch_color!important;
            }        
        }
        .btn.btn-outline-secondary > div{
            float:$left;
            background: $transparent !important;
            @include padding(0!important);
        }
    }
    .or_span_login{
        border-top:1px solid $dotted_line;
        @include margin(20px 0);
        position: $relative;
        span{
            color: $ebony_clay!important;
            @include font-size(12px!important);
            font-weight:$font-wt_bold!important;
            font-family: $font-family1!important;            
            position: $absolute;
            @include top(-15px);
            @include left(0);
            @include right(0);
            @include margin(auto);
            background: $color4 !important;
            @include border-radius(100%);
            @include padding(0);
            @include height(25px);
            @include width(25px);
            @include line-height(25px);
        }
    }
    .form-group{
        input{
            border:1px solid $color1;
            @include border-radius(5px);
            @include padding(0 10px);
            color: $ebony_clay!important;
            @include font-size(15px!important);
            font-weight:$font-wt_regular!important;
            font-family: $font-family1!important; 
        }
    }
    .link_forgot_pswd{
        color: $ebony_clay!important;
        @include font-size(12px!important);
        font-weight:$font-wt_bold!important;
        font-family: $font-family1!important; 
    }
    .btn_light_green.btn.btn-primary{
        color: $white;
        border:2px solid $menu_active;
        @include border-radius(5px);
        background: $menu_active;
        @include font-size(15px);
        font-weight:$font-wt_bold;
        font-family: $font-family1;
        @include padding(8px 18px);
        display: $inline-block;
    }
    .join_now_text{
        color: $black!important;
        @include font-size(15px!important);
        font-weight:$font-wt_regular!important;
        font-family: $font-family1!important;
        .join_now{
            color: $ebony_clay!important;
            font-weight:$font-wt_bold;
            @include font-size(15px!important);
            border:$none;
            background: $transparent;
            &:hover{
                text-decoration:underline;
            }
        }
    }
    .link_remenberme{
        font-weight:$font-wt_regular;
        @include font-size(17px!important);
    }
}
