.filter-box{    
    @include padding(15px);
    @include margin(0);
    display: $block;
    .search-box{
        input {
            background: $white;
            border-radius: 5px !important;
            border: 1px solid #f6f6f6 !important;
        }
    }
    .rc-slider-step{
        background:$menu_active;
        @include border-radius(2px);
    }    
    .sub_sub_title{
        @include font-size(15px);
    }
    .incre_input_fl{
        .input-group{
            background-color: $white;
            border:1px solid $color4;
            @include box-shadow(none !important);
            @include padding(0);
            @include border-radius(5px);
        }
        .input-group-text{
            @include border-radius(5px 0 0 5px !important);
            background-color: $menu_active;
            color: $white;
        }
    }
    .rc-slider-handle{
        border-color:$menu_active;
        background:$menu_active;
    }
    .rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
        border-color: $menu_active;
        box-shadow: $none;
    }
    .filter_values{
        color:$dotted_line;
        @include font-size(16px);
        font-weight:$font-wt_regular;
        font-family: $font-family1;
    }
    .btn_light_green{
        width:100%;
    }
}
.filter_box_align{
    display: flex;
    align-items: center;
}
.count_results{
    color:$menu_active;
    @include font-size(18px);
    font-weight:$font-wt_regular;
    font-family: $font-family1;
}
.productscontainer-box{
    .grid-view-products{
        .card{                     
            position: relative;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid rgba(0,0,0,.125);
            border-radius: 10px;         
            
            .img_crop{               
                flex-shrink: 0;
                width:100%;
                border-radius:10px 10px 0 0;
            }
            .new_seller{
                position: $absolute;
                @include  right(10px);
                @include  bottom(10px);
                .new_seller_btn{
                    background:$white;
                    color:$menu_active;
                    @include font-size(10px);
                    font-weight:$font-wt_bold;
                    font-family: $font-family1;
                    @include padding(5px 10px);
                    @include border-radius(15px);
                }
            }
            .product_title{
                color:$subtitle_color;
                @include font-size(18px);
                font-weight:$font-wt_bold;
                font-family: $font-family1;
                text-overflow: ellipsis;
                overflow:hidden;
                white-space: nowrap;
                width:100%;
                display: $inline-block;
            }
            .rating_star{
                @include height(15px);
                span{
                    color:$secondary_clr;
                    @include font-size(12px);
                }
            }
            .price-info{
                color:$price_color;
                @include font-size(25px);
                font-weight:$font-wt_bold;
                font-family: $font-family1; 
                .perhr_span{
                    @include font-size(14px);
                    color:$ebony_clay;
                    font-weight:$font-wt_regular;
                }               
            }
            .blog-info{
                color:$price_color;
                @include font-size(18px);
                font-weight:$font-wt_regular;
                font-family: $font-family1;
            }
            .sold_count_text{
                color: $menu_active;
                @include font-size(14px);
                font-weight:$font-wt_regular;
                font-family: $font-family1;
                @include margin(5px 0);
                line-height: $normal;
            }
            .favorite_btn{
                @include padding(6px 10px);
                border:2px solid $border_color;
                background: $white;
                color: $menu_active !important;
                @include font-size(12px);
                display: $inline-block;
                &:hover{
                    text-decoration: $none;
                    background: $menu_active;
                    color: $white !important;
                    border:2px solid $menu_active;
                }
            }
            .view_btn{
                @include padding(6px 10px);
                border:2px solid $subtitle_color;
                background:$subtitle_color;
                color: $white;
                @include font-size(12px);
                display: $inline-block;
                &:hover{
                    text-decoration: $none;
                    background: $transparent;
                    color:$ebony_clay !important;
                    border:2px solid $ebony_clay;
                }
            }
        }
    }
}
.norec_found {
    background: #f6f6f6;
    display: flex;
    font-size: 20px;
    height: 200px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #37b877;
    border-radius: 10px;
}

.productscontainer-box{
    .list-view-products{
        .card{
            // @include border-radius(10px);
            // @include box-shadow(0 0 6px 3px #eee);
            position: relative;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: row;
            flex-direction: row;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid rgba(0,0,0,.125);
            border-radius: 10px;       
            
            .img_crop{               
                flex-shrink: 0;
                width:100%;
                border-radius:10px 0 0 10px;
            }
            .new_seller{
                position: $absolute;
                @include  right(10px);
                @include  bottom(10px);
                .new_seller_btn{
                    background:$white;
                    color:$menu_active;
                    @include font-size(10px);
                    font-weight:$font-wt_bold;
                    font-family: $font-family1;
                    @include padding(5px 10px);
                    @include border-radius(15px);
                }
            }
            .product_title{
                color:$subtitle_color;
                @include font-size(25px);
                font-weight:$font-wt_bold;
                font-family: $font-family1;
            }
            .rating_star{
                @include height(15px);
                span{
                    color:$secondary_clr;
                    @include font-size(12px);
                }
            }
            .price-info{
                color:$price_color;
                @include font-size(25px);
                font-weight:$font-wt_bold;
                font-family: $font-family1;
            }
            .sold_count_text{
                color: $menu_active;
                @include font-size(14px);
                font-weight:$font-wt_regular;
                font-family: $font-family1;
                @include margin(5px 0);
                line-height: $normal;
            }
            .btn-groups{
                float:right;
            }
            .favorite_btn{
                @include padding(6px 10px);
                border:2px solid $border_color;
                background: $white;
                color: $menu_active !important;
                @include font-size(12px);
                display: $inline-block;
                &:hover{
                    text-decoration: $none;
                    background: $menu_active;
                    color: $white !important;
                    border:2px solid $menu_active;
                }
            }
            .view_btn{
                @include padding(6px 10px);
                border:2px solid $subtitle_color;
                background:$subtitle_color;
                color: $white;
                @include font-size(12px);
                display: $inline-block;
                &:hover{
                    text-decoration: $none;
                    background: $transparent;
                    color:$ebony_clay !important;
                    border:2px solid $ebony_clay;
                }
            }
        }
    }
}
.content_details{
    .card{
        background:transparent;
        border:none;
        &.card_inline{
            flex-direction: row;
            height:100%;
            width:100%;
        }
        .img_around{
            background-color: $transparent;
            padding: 6px;
            border-radius: 10px;
            display: $inline-block;
            height:400px;
            box-shadow: 0 0 10px 0px #46586d;
            width: 100%;
            overflow: $hidden;
            position: $relative;
            img{
                width:100%;
                position: $absolute;
                left: 0;
                top: 0;
                margin: $auto;
                bottom: 0;
                right: 0;
            }
        }
        .img_crop{         
            width:100%;
            border-radius:10px;
        }
        .mainline_head{
            color:$subtitle_color;
            @include font-size(20px);
            font-weight:$font-wt_bold;
            font-family: $font-family1;
        }
        .product_d_title{
            color:$subtitle_color;
            @include font-size(30px);
            font-weight:$font-wt_bold;
            font-family: $font-family1;
            margin: 0 0 5px 0;
            width:100%;
        }
        .new_seller_btn{
            background:$white;
            color:$menu_active;
            @include font-size(10px);
            font-weight:$font-wt_bold;
            font-family: $font-family1;
            @include padding(5px 10px);
            @include border-radius(15px);
        }
        .price-info{
            color:$menu_active;
            @include font-size(18px);
            font-weight:$font-wt_bold;
            font-family: $font-family1;
            display: $inline-block;
            vertical-align: $middle;
        }
        .tagline_text{
            color: $menu_active;
            @include font-size(14px);
            font-weight:$font-wt_regular;
            font-family: $font-family1;
            @include margin(0 0 10px 0);
            line-height: $normal;
            width:100%;
        }
        .bg_align_set {
            padding: 9px 0px;
            border-radius: 10px;
            background:$white;
            box-shadow: 0 0 7px 1px inset #46586d;
            .panel_title{
                color:$subtitle_color;
                @include font-size(15px);
                font-weight:$font-wt_bold;
                font-family: $font-family1;
                margin: 0;
                text-align: $center;
            }
            .panel_price1{
                color:purple;
                @include font-size(40px);
                display: $block;
                text-align: $center;
            }
            .panel_price2{
                color:red;
                @include font-size(40px);
                display: $block;
                text-align: $center;
            }
            .panel_price3{
                color:$menu_active;
                @include font-size(40px);
                display: $block;
                text-align: $center;
            }
        }
    }
    .btn_light_green:hover {
        color: #fff;
        text-decoration: none;
    }
}
.bor_btm{
    border-bottom: 1px solid #e3e3e3;
}
.grey_box_bg.content_grey_bg {
    background: $grid_bg;
    @include border-radius(20px);
    @include width(100%);
    display: $block;
    @include padding(20px);
    @include margin(20px 0);    
}
.cart_empty_div{
    .card{
        border:$none !important;
        h3{
            font-size: 25px;
            height: 200px;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
        }
    }
}
.wizard_tab{
    .wizard-inner{
        .nav{
            border:$none !important;
            li{                
                background: $white;
                color:$subtitle_color;
                padding: 10px 20px;
                border-radius: 10px;
                @include font-size(18px);
                font-weight:$font-wt_bold;
                font-family: $font-family1;
                margin:0 20px 10px 0;                
                &.active{
                    background: $menu_active;
                    color: $white;
                    box-shadow: 0 0 6px 0px $subtitle_color;
                }
            }
        }
    }
}
.chkout_card{
    background: $white;
    padding: 20px;
    .chk_out_title{
        color:$switch_color;
        @include font-size(20px);
        font-weight:$font-wt_bold;
        font-family: $font-family1;
        width:100%;
        margin:10px 0 10px 0;
    }
    .chkout_card_inner{        
        display: $flex;       
    }
    .bg_grey_chkout{
        background:$transparent;
        border:1px dashed #dad8d8;
        color:$dotted_line;
        @include font-size(18px);
        font-weight:$font-wt_regular;
        font-family: $font-family1;
        border-radius:5px;
        padding: 10px;
        margin-right: 15px;
        &.price_greychokout{
            border-radius: 5px;
            margin:0 15px;
            width: calc(100% - 30px);
            height: 100% ;
            padding-top: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &.countclr{
            color:$menu_active;
            font-weight:$font-wt_bold;
        }
    }
    .price_size_set{
        @include font-size(30px);
        color:$switch_color;
        font-weight:$font-wt_bold;
        font-family: $font-family1;
    }  
    .btn_button_clr{
        .MuiButtonBase-root.MuiButton-root.button{
            color: $white !important;
            border:none !important;
            @include border-radius(5px !important);
            background: red !important;
            @include font-size(16px);
            font-weight:$font-wt_bold;
            font-family: $font-family1;
            @include padding(4px 10px);
            display: $inline-block;
            
        }
    }  
    .left_label_prc{
        color:$dotted_line;
        @include font-size(18px);
        font-weight:$font-wt_regular;
        font-family: $font-family1;
    }
    .right_price_set{
        @include font-size(18px);
        color:$switch_color;
        font-weight:$font-wt_bold;
        font-family: $font-family1;
    }
    .right_price_set_green{
        @include font-size(18px);
        color:$menu_active;
        font-weight:$font-wt_bold;
        font-family: $font-family1;
    }
}
.chkout_section{
    .card{
        border:$none !important;
        @include border-radius(10px);
        @include width(100%);
    }
}
.total_f_price{
    @include font-size(20px);
    color:$switch_color;
    font-weight:$font-wt_bold;
    font-family: $font-family1;
}
.btn_button_clr_green{
    .MuiButtonBase-root.MuiButton-root.button{
        color: $white !important;
        border:2px solid $menu_active !important;
        @include border-radius(5px !important) ;
        background: $menu_active !important;
        @include font-size(15px);
        font-weight:$font-wt_bold;
        font-family: $font-family1;
        @include padding(4px 18px);
        display: $inline-block;
        width: 100% !important;
    }
}
.options_bg_Settings {
    background: $white;
    @include padding(20px);
    @include margin(12px 0);
    @include box-shadow(0 0 8px 0px $cont_box_shadow);
    @include border-radius(10px);
    .saved-group {
        @include margin(0 0 20px 0);
        text-transform: $capitalize;
    }
}
.btn_light_green:disabled {
    opacity:0.4;
}
.form-control.input_field_set{
    background:$grid_bg !important;
    border-color:$input_border_clr !important;
    color:$dotted_line !important;
    @include font-size(18px);
    font-weight:$font-wt_regular;
    font-family: $font-family1;
}
.bg_buyer_proct{
    background:$grid_bg;
    color:$dotted_line ;
    border:1px solid $input_border_clr;
}
.alltotal_price_style{
    background:$white;
    color:$menu_active ;
    border:1px dashed $bor_dotted_line;
    @include font-size(20px);
    font-weight:$font-wt_bold;
    font-family: $font-family1;
    @include padding(10px);
    @include border-radius(20px);
    display: $inline-block;
}
.thankyou_Bg_des{
    background:$menu_active;
    @include padding(15px);
    @include border-radius(10px);
    .close {
        background: $white;
        @include border-radius(100%);
        opacity: 1 !important;
        @include width(30px);
        @include height(30px);
        line-height: $normal;
        span {
            line-height: $normal;
            @include height(18px);
            display: $block;
            @include margin-top(-16px);
        }
    }
    .thankyou_text{
        h3{
            color:$white;
            @include font-size(22px);
            font-weight:$font-wt_bold;
            font-family: $font-family1;
        }
        p{
            color:$white;
            @include font-size(15px);
            font-weight:$font-wt_regular;
            font-family: $font-family1;
        }    
        .submit_title{
            color:$white;
            @include font-size(15px);
            font-weight:$font-wt_regular;
            font-family: $font-family1;
        }        
    }
}
.form-control.input_field_set.newinput_filed{
    border: $none !important;
    p{
        @include font-size(15px);
    }
}
.input_field_set .MuiInputBase-root{
    background:$grid_bg !important;
    border:$none !important;
    color:#191919 !important;
    @include font-size(18px);
    font-weight:$font-wt_regular;
    font-family: $font-family1;
}
.right_price_set.max_wid{
    @include max-width(115px);
    text-align: $right;
}
.submit_title{
    color: $subtitle_color;
    @include font-size(18px);
    font-weight:$font-wt_bold;
    font-family: $font-family1;
}
.makeStyles-root-1 .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border: $none!important;
    color:$slider_content !important;
    @include font-size(15px);
}
.MuiInputBase-input::-webkit-input-placeholder {
    color: $slider_content !important;
    opacity: 1 !important;
    @include font-size(15px);
}
.MuiOutlinedInput-inputMultiline {
    color: #191919 !important;
    @include font-size(15px);
}
.btn_button_clr_green{
    .MuiButtonBase-root.MuiButton-root.button:hover{
        background: $bannergreen !important;
    }
}
.file_updoaded_dets{
    .list-group{
        @include border(1px solid $grid_bg);
        @include padding(10px);
        @include margin(10px 0);
    }
    .list-group-item{
        @include margin(0 0 5px 0);
        @include padding(0);
        border: $none;
        color: $menu_active;
        @include font-size(15px);
    }
    .MuiButtonBase-root{
        @include padding(0);
    }
}


.favorite-pagination {
    text-align: center;
    justify-content: center;
    width: 100%;
    display: flex;
    margin: 15px auto;
}
.productscontainer-box{
    .swiper-button-next:after, 
    .swiper-button-prev:after {        
        background: #fff;
        box-shadow: 0px 0px 6px #bbb;
        border-radius: 2px;
        font-size: 30px;
        padding: 10px;
        border-radius: 6px;
        color: $menu_active;
    }
    .swiper-button-next, 
    .swiper-button-prev{
        top:40%;
    }
    .swiper-button-prev, 
    .swiper-container-rtl .swiper-button-next {
        left: 0;
        right: auto;
    }
    .swiper-button-next, 
    .swiper-container-rtl .swiper-button-prev {
        right: 0;
        left: auto;
    }
    .swiper-slide {
        margin-bottom: 40px;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets, 
    .swiper-pagination-custom, 
    .swiper-pagination-fraction {
        bottom: 20px !important;
    }
}
.textarea_set{
    textarea.form-control {
        height: 200px;
        resize: $none;
    }
}
.swipernavDetail.swiper_pg_detail {
    padding: 0 40px;
}