.order-tabs-navigation{
    .tab-content{
      margin-top:10px;
    }
    .nav-tabs {
        border: $none;
        .nav-item {
            @include margin-bottom(0);
        }
        .nav-link {
            @include font-size(20px);
            border: $none;
            color: $slider_dots;
            font-weight:$font-wt_regular;
            @include border-bottom(1px solid $border_table);
            &.active {
                color: $white;
                background:$menu_active;
                position: relative;
                &:after {
                    content: "";
                    position: $absolute;
                    width: 100%;
                    height: 5px;
                    left: 0;
                    bottom: -2px;
                    background-color: $menu_active;
                }
            }
        }
    }
}
 
.page-item:first-child .page-link,
.page-item:last-child .page-link,
.page-item .page-link {
  border-radius: 50px;
  margin: 5px;
}
.page-item.active .page-link {
  background-color: #32ca75;
  border-color: #32ca75;
  color: #fff;
}
table.dataTable tbody td.select-checkbox:before,
table.dataTable tbody td.select-checkbox:after,
table.dataTable tbody th.select-checkbox:before,
table.dataTable tbody th.select-checkbox:after {
  width: 17px;
  height: 17px;
}
.dataTables_filter {
  font-size: 0;
}
.dataTables_filter input {
  font-size: 14px;
  padding-right: 40px;
  background-image: url("../../images/search.png");
  background-repeat: no-repeat;
  background-position: 105% center;
}
table.dataTable tbody td.select-checkbox:before,
table.dataTable tbody th.select-checkbox:before {
  border: 1px solid $menu_active;
}
table.dataTable tbody tr.selected td.select-checkbox:before,
table.dataTable tbody tr.selected th.select-checkbox:before {
  background-color: $menu_active;
}

table.dataTable tr.selected td.select-checkbox:after,
table.dataTable tr.selected th.select-checkbox:after {
  color: $white;
  text-shadow: none;
  margin-top: -8px;
  margin-left: -5px;
}
table.dataTable tbody > tr.selected,
table.dataTable tbody > tr > .selected {
  background-color: #e3f5eb;
}

.myorders_table{
  table{
    th {
      font-size: 16px !important;
      padding:10px 8px !important;
      &:first-child{
        border-radius: 10px 0 0 0 !important;
      }
      &:last-child{
        border-radius: 0 10px 0 0 !important;
      }
    }
    td{
      word-break: break-all;
      padding:10px 8px !important;
      .view_btns{
        word-break: keep-all;
      }
    }
  }
}
.myorders_table {
  .MTableToolbar-highlight-6 {
    color: #f50057;
    width: 100%;
    max-width: 300px;
    margin: 0 auto !important;
    padding: 10px;
    text-align: $center;
  }
}
.MuiTableSortLabel-root:hover {
  color: $white !important;
}
.MuiTableSortLabel-root.MuiTableSortLabel-active {
  color: $black !important;
}
.Component-horizontalScrollContainer-12 {
  padding: 10px;
}
.MuiToolbar-root {
  min-height: inherit !important;
  margin: 0;
}
.MuiCheckbox-colorSecondary.Mui-checked {
  color: $menu_active !important;
}
.MuiTableHead-root .MuiCheckbox-colorSecondary.Mui-checked {
  color: $white !important;
}
.MuiToolbar-root.MuiToolbar-regular.MTableToolbar-root-5.MTableToolbar-highlight-6.MuiToolbar-gutters{
  display: block !important;
}
.orderpage_details{
  .card{
    border:$none;
    background: $transparent;
    padding: 15px;
    
    .card-body{
      padding: 15px;
      margin: 0 0 18px 0;
      border: 1px dashed $bor_dotted_line;
      border-radius:10px;
      .order_id{
          color:$switch_color;
          @include font-size(24px);
          font-weight:$font-wt_bold;
          font-family: $font-family1;
          margin: 0;
          text-align: center;
        .order_span{
            color:$menu_active;
            @include font-size(24px);
            font-weight:$font-wt_bold;
            font-family: $font-family1;
        }        
      }
      .orderp {
          padding: 4px 0;
          text-align: center;
          margin: 0;
          color:$switch_color;
          @include font-size(16px);
      }
      .progress_div{
        h6{
          color:$switch_color;
          @include font-size(24px);
          font-weight:$font-wt_bold;
          font-family: $font-family1;
          text-align: $center;
        }
        .progress{
          height:8px;
        }
      }      
    }
  }
  .mid_head_side{
    color:$switch_color !important;
      @include font-size(18px);
      font-weight:$font-wt_bold;
      font-family: $font-family1;
      text-align: $left;
      &.fontsixesmall{
        @include font-size(16px);
      }
  }
  .bg_settings_parts{
    background:$white;
    @include padding(12px);
    @include border-radius(5px);
    @include box-shadow(0 0 10px 2px $slider_dots);
    align-items: center;
    .user-name{
      color:$switch_color !important;
      @include font-size(18px);
      font-weight:$font-wt_bold;
      font-family: $font-family1;
      text-overflow: $ellipsis;
      overflow:$hidden;
      white-space: $normal;
      @include max-width(70%);
      @include width(100%);
      display: $inline-block;
      vertical-align: $middle;
      text-align: $left;
    }
    .leftimg_gp{
      display: inline-block;
      width: 70px;
      height: auto;
      margin-right: 10px;
      img{
        width:100%;
      }
    }
    .big_price_fnt{
      color:$menu_active !important;
      @include font-size(50px);
      font-weight:$font-wt_bold;
      font-family: $font-family1;
      @include margin(0);
      @include line-height(50px);
      @include width(40%);
    }
    .biga_price_fnt{
      color:$switch_color !important;
      @include font-size(16px);
      font-weight:$font-wt_bold;
      font-family: $font-family1;
      @include margin(0 0 0 15px);
      @include line-height(35px);
      text-align: left;
    }
    &.user-profile{
      @include padding(15px 12px);
    }
  }  
}
.timer-section{
    span{
      border: 1px dashed $bor_dotted_line;
      @include padding(4px 0);
      @include font-size(60px);
      @include margin(2px 5px);
      color: $login_bg;
      @include border-radius(10px);
      @include width(60px);
      text-align: $center;
  }
  .text-muted{
    @include font-size(70px);
    font-weight:$font-wt_bold;
    font-family: $font-family1;
    color: $menu_active !important;   
    @include margin(0 20px 0 0);
    @include height(100px);
    @include line-height(82px);
  }
  .text-mine_clr{
    @include font-size(70px);
    font-weight:$font-wt_bold;
    font-family: $font-family1; 
    @include margin(0 20px);
    @include height(100px);
    @include line-height(82px);
  }
}
.herupdt_cnt{
  color: $login_bg;
  @include font-size(24px);
  font-weight:$font-wt_bold;
  font-family: $font-family1;
  @include width(100%);
  text-align: $center;
  @include margin(0 0 10px 0);
  text-transform: $uppercase;
}
.orange_box {
  background: #37B877;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding: 15px;
}
.grey_box {
  background: #46586D;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding: 15px;
}
.red_box {
  background: #e74e5b;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding: 15px;
}
.gp_and_back_link_sec{
  .link_link{
    color: #007bff;
    @include font-size(16px);
    font-weight:$font-wt_regular;
    font-family: $font-family1;
    display: $block;
    white-space: $nowrap;
    text-overflow: $ellipsis;
    overflow: $hidden;
  }
  .dimspan{
    color:$dotted_line;
    @include font-size(16px);
    font-weight:$font-wt_regular;
    font-family: $font-family1;
    display: $block;
    white-space: $nowrap;
    text-overflow: $ellipsis;
    overflow: $hidden;
  }
}

.feedback_img{
  background:$white;
  @include border-radius(10px);
  border:$none !important;
  box-shadow: 0 0 10px 2px #c7c7c7;
  .user_img{
    @include width(100px);
    @include margin(0 15px 0 0);
  }
  .user_content{      
    @include width(100%);
    .usnm{
      @include margin(0);
    }
    .date_fmt{
      @include margin(0);
      color:$dotted_line;
      @include font-size(16px);
      font-weight:$font-wt_regular;
      font-family: $font-family1; 
    }
  }
  .bg_lightset{
      background-color: $grid_bg;
      @include padding(10px 20px);
      @include margin(15px 0);
      p{
        color:$switch_color;
        @include margin(0);
      }
  }
}

.attachemnts_Set{
 // @include max-width(60%);
  @include border-radius(10px);
  background:$white;
  display: $flex;
  align-items: $center;
  background: $fade_white;
    padding: 10px 0px;
  .file_name_attach{
    display: block;
    margin: 0 25px;
    .uploaded_imgs{
      margin:0 0 10px 0;
    }
    .upolade_filename{
      background:$menu_active;
      color:$white;
      @include font-size(15px);
      font-weight:$font-wt_bold;
      font-family: $font-family1; 
      @include width(auto);
      overflow:$hidden;
      text-overflow: $ellipsis;
      text-align: $left;
      white-space: $nowrap;
      padding: 4px 12px;
      line-height: normal;
      border-radius: 5px;
      &:hover{
        text-decoration: $none;
      }
    }
  }
}

.date_time_mnt_set{
  color:$dotted_line;
  @include font-size(16px);
  font-weight:$font-wt_bold;
  font-family: $font-family1; 
}
.user_name_set{
  color:$switch_color;
  @include font-size(20px);
  font-weight:$font-wt_bold;
  font-family: $font-family1;
  text-align: $left;
  @include margin(0);
  &.selleruser_name_set{
    color:$menu_active;
  }
}
.comments_sectionset{
  display:$block;
  color:$switch_color;
  @include font-size(18px);
  font-weight:$font-wt_regular;
  font-family: $font-family1;
  @include width(98%);
}
.feed_wordings{
  color:$dotted_line;
  @include font-size(18px);
  font-weight:$font-wt_regular;
  font-family: $font-family1; 
}
.rating_stars_colors{
  .MuiRating-iconFilled{
    svg {
        color: $secondary_clr;
    }
  }
  .MuiRating-iconEmpty{
    svg {
        color: rgba(0, 0, 0, 0.26);
    }
  }
}
.repeat_revisions {
  background: $white;
  box-shadow: 0 0 10px 2px $slider_dots;
  @include padding(0);
  @include border-radius(10px);
  .revision_heading{
    @include padding(10px);
    color:$switch_color;
    @include font-size(20px);
    font-weight:$font-wt_bold;
    font-family: $font-family1;
    text-decoration: $underline;
  }
  .revision_set {
    @include width(100%);
    float: $left;
    background:$fade_white;
    @include border-radius(10px 10px 0 0);
  }
  .comment_sec_secs {
    @include padding(0 0 0 10px);
    border-bottom: 0px solid $fade_white;
    @include margin(10px 10px 10px 10px);
  }
}
.btn_light_green.btn-primary{
  color: $white;
  border:2px solid $menu_active;
  @include border-radius(5px);
  background: $menu_active;
  @include font-size(15px);
  font-weight:$font-wt_bold;
  font-family: $font-family1;
  @include padding(8px 18px);
  display: $inline-block;
  width: 170px;
  &:hover{
    background: $menu_active;
    border:2px solid $menu_active;
  }
}
.modal_popup{
  &.revision_popup{
      @include max-width(75%);
      @include width(75%);
  }
}

.user_name_align {
  color:$switch_color;
  @include font-size(25px);
  font-weight:$font-wt_bold;
  font-family: $font-family1;
  text-align: $center;
  @include margin(0);
  &.selleruser_name_align{
    color:$menu_active;
  }
}

.colr_white{
  color:#fff;
  font-size:25px;
  &.posreltop{
    position: relative;
    top:-10px;
  }
}


