.new_page_header{
    .main_top_banner {
        background-position: center top !important;
        padding: 10px 0 !important;
    }
    .about-sec{
        display: none;
    }
}
.newpagecontent{
    .btm_about_content .card_div .about_pg_title {
        color: #37b877;
        font-size: 30px;
        font-weight: bold;
        font-family: "Segoe-UI";
        margin: 15px 0;
        display: block;
        width: 100%;
        border-radius: 0;
        padding: 15px 0;
        text-align: center;
        border-bottom: 2px solid #37b877;
    }
}
.chat-section-footer textarea#message-send {
	background: transparent;
	border: none;
	padding: 0;
    resize:none;
    margin-bottom:10px;
}