.profile_pg_menu {
    display: $flex;
    .nav-link{
        color:$black;
        border:1px dashed $dotted_line;
        @include border-radius(5px 5px 0 0);
        background: $white;
        @include font-size(15px);
        font-weight:$font-wt_bold;
        font-family: $font-family1;
        @include padding(8px 28px);
        @include margin-right(14px);
        &:hover,
        &.active{
            background: $menu_active!important;
            color:$white!important;
            border:1px dashed $menu_active!important;
        }
    }   
}
.profile_heading{
    color:$menu_active;
    @include font-size(15px);
    font-weight:$font-wt_bold;
    font-family: $font-family1;
    border-bottom: 1px solid $fade_white;
    @include padding(0 0 10px 0);
    @include margin(0 0 20px 0);
    @include width(100%);
}
.bor_btm_span{
    border-bottom:1px solid $fade_white;
}
.grey_box_bg.tab-content{
    @include border-radius(0 15px 15px 15px);
}
.tab_cnt_profile label.small{
    font-size: 14px;
    font-weight: 600;
}
.phone_field_help{
    .form-control{
        background:$transparent;
        border: 0px solid #e8e8e8!important;
        @include padding(8px 10px);
        @include font-size(16px);
        color: $dotted_line;
        @include width(calc(100% - 40px));
        height: 38px!important;
        resize: $none;
        @include margin-left(40px);
        border-left: $none;
        @include border-radius(0);
        &::placeholder{
            color: $dotted_line;
        }
    }
}
.phone_field{
    .form-control{
        background:$transparent;
        background-color:#fff!important;
        border: 1px solid #cccccc;
        @include padding(8px 10px);
        @include font-size(16px);
        color: $dotted_line;
        @include width(calc(100% - 40px));
        resize: $none;
        @include margin-left(40px);
        border-left: $none;
        @include border-radius(0 5px 5px 0);
        &::placeholder{
            color: $dotted_line;
        }
    }
    .react-tel-input .flag-dropdown {
        position: $absolute;
        top: 0;
        bottom: 0;
        padding: 0;
        background-color: #fff!important;
        border: 1px solid #cccccc;
        border-radius: 5px 0 0 5px;
    }
}
.saved-group{
    .saved-label-profile{
        .fontBlack{
            color:$ebony_clay;
            @include font-size(15px);
            font-weight:$font-wt_bold;
            font-family: $font-family1;
        }
        &.trash_clr{
            color:$red;
            cursor: $pointer;
        }
    }
}
.addnew_Card{
    .card_info_form{
        @include max-width(60%);   
    }
    .chkout_card {
        display: $inline-block;             
    }
    .left_label_prc {
        color:#6c757d !important;
        @include font-size(15px);
        font-weight:$font-wt_bold;
        font-family: $font-family1;
        width: 100%;
    }
}