.servicedrop{
    .about_pg_menu{
        .dropdown-menu.show{
            left:inherit !important;
            right:-22px !important;
        }
    }
}
.service_orange_gird{
    margin-bottom: 25px;
    border: 1px solid $menu_active;
    border-radius: 10px !important;
    .card.border_radius{
        max-width: 60%;
        border-radius: 10px;
    }
    .img_crop{               
        flex-shrink: 0;
        width:100%;
        border-radius:10px;
    }
    .card-header{
        background-color: $menu_active;
        border-radius: 10px 10px 0 0 !important;
        padding: 5px 10px;
        .header_title_srvice{
            color:$white;
            @include font-size(16px);
            font-weight:$font-wt_bold;
            font-family: $font-family1;
            margin: 0;
            align-items: center;
        }        
    }
    .image_settings{
        max-height:200px;
        overflow:hidden;
        border-radius: 10px;
    }
    .bg_icon_set{
        background:$edit_icon_bg $no-repeat 0 0 $transparent;
        display: inline-block;
        width: 28px;
        height: 28px;
        text-align: center;
        font-size: 10px;
        line-height: 28px;
        color:$white;
    }
    .link_service{
        color:$white!important;
        @include font-size(16px);
        font-weight:$font-wt_bold;
        font-family: $font-family1;
        text-decoration: none;
    }
    .card-body {
        background: $grid_bg;
        border-radius: 0 0 10px 10px;
        padding:5px;
    }
    .border_set_round{
        border: 1px solid #dadee2;
        border-radius: 20px;
        width: 100%;
        padding: 0;
        display: flex;
        margin: 5px 0;
        align-items: center;
        max-width: 230px;
    }
}
.service_listtms{
    .rate_dollar_price{
        color: #3D4A67;
        font-size: 14px;
        font-weight: bold;
        font-family: "Segoe-UI";
        margin: 0;
        width: 40%;
        background: #eee;
        border-radius: 0 20px 20px 0;
        padding: 5px 5px 5px 12px;
        text-align: left;
    }
    .tag_line_span{
        color:$ebony_clay;
        @include font-size(14px);
        font-weight:$font-wt_regular;
        font-family: $font-family1;
        margin:0;
        width: 60%;
        text-align: left;
        padding-left: 15px;
    }
    .tagleftspan{
        color:$ebony_clay;
        @include font-size(14px);
        font-weight:$font-wt_regular;
        font-family: $font-family1;
        margin:0;
    }
    .orange_txt{
        color:$secondary_clr;
        @include font-size(18px);
        font-weight:$font-wt_bold;
        font-family: $font-family1;
    }
}
.view-options{
    display: flex;
    align-items: center;
    .btn_light_green{
        &:hover{
            color:$white;
            text-decoration: none;
        }
    }
}
.more-details {
    background: $white;
    @include border-radius(10px);
    @include padding(15px);
    @include margin(15px);
    @include width(100%);
    .label_title{
        color:$menu_active;
        @include font-size(20px);
        font-weight:$font-wt_bold;
        font-family: $font-family1;
    }
}
.form_fields{
    .form-control{
        background:$transparent;
        border: 1px solid #E5E5E5;
        @include padding(8px 10px);
        @include font-size(18px);
        color: $ebony_clay;
        @include width(100%);
        resize: $none;
        &::placeholder{
            color: $price_color;
        }
    }
}
.add_new_service{    
    border-radius: 15px !important;
    .close{
        color:$white;
    }
    .modal-header{
        background: $secondary_clr;
        border-radius: 15px 15px 0 0;
        .modal-title{
            color:$white;
            @include font-size(25px);
            font-weight:$font-wt_bold;
            font-family: $font-family1;
        }
    }
    .form-label{
        font-weight:$font-wt_regular;
        font-family: $font-family1;
        color:$price_color;
    }
}

.fileupload_bg{
    background-color:rgba(55,184,119,0.2);
    border:1px solid rgba(55,184,119, 0.4);
    width: 100%;
    text-align: center;
    padding: 30px 20px;
    border-radius: 5px;
    .file-upload-section{
        .upload_text{
            color:$switch_color;
            @include font-size(20px);
            font-weight:$font-wt_bold;
            font-family: $font-family1;
            margin-left: 20px;
        }
    }
}
.preview_uploaded {
    background-color: #fff;
    max-width: 105px;
    position: relative;
    padding: 8px;
    border: 1px solid #ddd;
    margin: 0 8px 12px 8px;
    display: inline-flex;
    width: 100%;
    height: 90px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    vertical-align: top;
}
.close_icon_btn{    
    .MuiButtonBase-root.MuiIconButton-root{
        position: absolute;
        top: 0;
        right: 0;
        background: red;
        border-radius: 100%;
        padding: 2px;
        border: none;
        width: 20px;
        height: 20px;
        line-height: 15px;
        font-size: 12px;
        color: #fff;
        svg{
            width: 12px;
            height: 12px;
        }
    }
}
.box_light_bg {
    background: #fff;
    padding: 15px;
    height: calc(100% - 100px);
    text-align: left;
    .list-group {
        @include border(1px solid $white !important);
        @include padding(0  !important);
        @include margin(10px 15px !important);
        @include width(calc(100% - 30px));
        background: $white;
    }
    .list-group-item {
        @include margin(0 0 8px 0);
        @include padding(0);
        border: $none;
        color: $bannergreen;
        @include font-size(15px);
    }
    .close_icon {
        background: $transparent;
        border: $none;
        color: $footer_bg_color;
        @include font-size(20px);
        line-height: $normal;
    }
}