

.effect {
    text-align: $center;
    display: $inline-block;
    position: $relative;
    text-decoration: $none;
    color: $white;
    text-transform: $capitalize;
    @include font-size(18px);
    @include padding(20px 0px);
    @include width(150px);
    @include border-radius(6px);
    overflow: $hidden;
  }
  .width-195 {
    @include width(195px);
  }
/* effect-2 styles */
.effect.effect-2 {
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
.effect.effect-2:before {
  content: "\f0a4";
  font-family: FontAwesome;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: $flex;
  -webkit-box-align: $center;
  -ms-flex-align: $center;
  align-items: $center;
  -webkit-box-pack: $center;
  -ms-flex-pack: $center;
  justify-content: $center;
  position: $absolute;
  @include top(0);
  @include right(-30px);
  @include width(30px);
  @include height(100%);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0px 6px 6px 0px;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  text-align: $center;
}
.effect.effect-2:hover {
  text-indent: -30px;
}
.effect.effect-2:hover:before {
  @include right(0);
  text-indent: 0px;
}

.btn_link{
    color: $white !important;
    border:$none;
    background: $transparent;
    @include font-size(20px);
    font-weight:$font-wt_bold;
    font-family: $font-family1;
    display: $inline-block;
    &:hover{
      color:$bannergreen !important;
      text-decoration: none;
    }
}
.btn_white_border{
    color: $white;
    border:2px solid $white;
    @include border-radius(5px);
    background: $transparent;
    @include font-size(16px);
    font-weight:$font-wt_bold;
    font-family: $font-family1;
    @include padding(4px 14px);
    display: $inline-block;
}
.btn_green{
    color: $white;
    border:2px solid $menu_active;
    @include border-radius(5px);
    background: $menu_active;
    @include font-size(16px);
    font-weight:$font-wt_bold;
    font-family: $font-family1;
    @include padding(4px 14px);
    display: $inline-block;
    &:hover{
      background: $menu_active;
      border:2px solid $menu_active;
    }
    &:disabled{
      opacity: 0.2;
    }
}

.btn_brown{
    color: $white;
    border:2px solid $primary_clr;
    @include border-radius(5px);
    background: $primary_clr;
    @include font-size(16px);
    font-weight:$font-wt_bold;
    font-family: $font-family1;
    @include padding(8px 10px);
    @include width(auto);
    display: $inline-block;
}
.favorite_btn{
    color: $menu_active !important;
    border:2px solid $white;
    @include border-radius(25px);
    background: $white;
    @include font-size(12px);
    font-weight:$font-wt_bold;
    font-family: $font-family1;
    @include padding(4px 14px);
    @include box-shadow(0 5px 20px #A7A7A7);
    @include width(auto);
    display: $inline-block;
    text-decoration: $none !important;
}
.view_btn{
    color: $white !important;
    border:2px solid $ebony_clay;
    @include border-radius(25px);
    background: $ebony_clay;
    @include font-size(12px);
    font-weight:$font-wt_bold;
    font-family: $font-family1;
    @include padding(4px 14px);
    @include width(auto);
    display: $inline-block;
    &:hover{
      text-decoration: $none;
    }    
}
.btn_ebony_clay{
    color: $white;
    border:2px solid $ebony_clay;
    @include border-radius(5px);
    background: $ebony_clay;
    @include font-size(16px);
    font-weight:$font-wt_bold;
    font-family: $font-family1;
    @include padding(4px 14px);
    display: $inline-block;
}
.btn_light_green{
  color: $white;
  border:2px solid $menu_active;
  @include border-radius(5px);
  background: $menu_active;
  @include font-size(14px);
  font-weight:$font-wt_bold;
  font-family: $font-family1;
  @include padding(4px 14px);
  display: $inline-block;
  cursor: $pointer;
  &:hover{
    background: $menu_active_hover;
    border:2px solid $menu_active_hover;
    color: $white;
    text-decoration: $none;
  }
}
.btn_grey{
  color: $btn_txt_reset;
  border:2px solid $btn_bg_reset;
  @include border-radius(5px);
  background: $btn_bg_reset;
  @include font-size(14px);
  font-weight:$font-wt_bold;
  font-family: $font-family1;
  @include padding(4px 14px);
  display: $inline-block;
  width:100%;
  &:hover{
    color: $btn_txt_reset;
    background-color: $color1;
    border-color: $color2;
  }
  &.w-auto{
    width:$auto;
  }
}

.remove_btn{
  color: $remove_btn !important;
  border:2px solid $remove_btn;
  @include border-radius(25px);
  background: $white;
  @include font-size(12px);
  font-weight:$font-wt_bold;
  font-family: $font-family1;
  @include padding(6px 14px);
  @include box-shadow(0 5px 20px #A7A7A7);
  @include width(auto);
  display: $inline-block;
  &:hover{
    background: $remove_btn;
    color: $white!important;
  }
}
.btn_remove_red{
  color: $white !important;
  border:2px solid $red_remove_btn;
  @include border-radius(5px);
  background: $red_remove_btn;
  @include font-size(12px);
  font-weight:$font-wt_bold;
  font-family: $font-family1;
  @include padding(6px 14px);
  @include width(auto);
  display: $inline-block;
  &:hover{
    background: $red_remove_btn_hover;
    color: $white!important;
    border:2px solid $red_remove_btn_hover;
  }
}
.btn_red{
  color: $remove_btn !important;
  border:2px solid $remove_btn;
  @include border-radius(5px);
  background: $white;
  @include font-size(14px);
  font-weight:$font-wt_bold;
  font-family: $font-family1;
  @include padding(4px 14px);
  @include box-shadow(0 5px 20px #A7A7A7);
  @include width(auto);
  display: $inline-block;
  cursor: $pointer;
  &:hover{
    background: $remove_btn;
    color: $white!important;
  }
}
.btn_outline_green{
  color: $bannergreen;
  border:2px solid $bannergreen;
  @include border-radius(5px);
  background: $transparent;
  @include font-size(14px);
  font-weight:$font-wt_bold;
  font-family: $font-family1;
  @include padding(4px 15px);
  display: $inline-block;
  &:hover{
    border:2px solid $bannergreen;
    background:$bannergreen;
    color:$white;
  }
}
.btn_bg_orange{
  color: $white;
  border:2px solid $secondary_clr;
  @include border-radius(5px);
  background: $secondary_clr;
  @include font-size(14px);
  font-weight:$font-wt_bold;
  font-family: $font-family1;
  @include padding(4px 14px);
  display: $inline-block;
  cursor: $pointer;
  &:hover{
    background: $secondary_clr;
    border:2px solid $secondary_clr;
  }
}
.custom-width{
  @include width(215px!important);
}


.btn_lite_grey {
  color: $ebony_clay;
  border:2px solid #cad8d1;
  @include border-radius(5px);
  background: #cad8d1;
  @include font-size(14px);
  font-weight:$font-wt_bold;
  font-family: $font-family1;
  @include padding(4px 14px);
  display: $inline-block;
  cursor: $pointer;
  &:hover{
    background: $menu_active;
    border:2px solid $menu_active;
    color: $white;
    text-decoration: $none;
  }
}