@font-face {
    font-family: 'Segoe-UI';
    src: url('../fonts/Segoe-UI/SegoeUI.eot');
    src: url('../fonts/Segoe-UI/SegoeUI.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Segoe-UI/SegoeUI.woff2') format('woff2'),
        url('../fonts/Segoe-UI/SegoeUI.woff') format('woff'),
        url('../fonts/Segoe-UI/SegoeUI.svg#SegoeUI') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe-UI';
    src: url('../fonts/Segoe-UI/SegoeUI-Bold.eot');
    src: url('../fonts/Segoe-UI/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Segoe-UI/SegoeUI-Bold.woff2') format('woff2'),
        url('../fonts/Segoe-UI/SegoeUI-Bold.woff') format('woff'),
        url('../fonts/Segoe-UI/SegoeUI-Bold.svg#SegoeUI-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/Proxima-nova/ProximaNova-Regular.eot');
    src: url('../fonts/Proxima-nova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Proxima-nova/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/Proxima-nova/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/Proxima-nova/ProximaNova-Regular.ttf') format('truetype'),
        url('../fonts/Proxima-nova/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('../fonts/Proxima-nova/ProximaNova-Bold.eot');
    src: url('../fonts/Proxima-nova/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Proxima-nova/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/Proxima-nova/ProximaNova-Bold.woff') format('woff'),
        url('../fonts/Proxima-nova/ProximaNova-Bold.ttf') format('truetype'),
        url('../fonts/Proxima-nova/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Bl';
    src: url('../fonts/Proxima-nova/ProximaNova-Black.eot');
    src: url('../fonts/Proxima-nova/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Proxima-nova/ProximaNova-Black.woff2') format('woff2'),
        url('../fonts/Proxima-nova/ProximaNova-Black.woff') format('woff'),
        url('../fonts/Proxima-nova/ProximaNova-Black.ttf') format('truetype'),
        url('../fonts/Proxima-nova/ProximaNova-Black.svg#ProximaNova-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI Black';
    src: url('../fonts/Segoe-UI/SegoeUIBlack.eot');
    src: url('../fonts/Segoe-UI/SegoeUIBlack.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Segoe-UI/SegoeUIBlack.woff2') format('woff2'),
        url('../fonts/Segoe-UI/SegoeUIBlack.woff') format('woff'),
        url('../fonts/Segoe-UI/SegoeUIBlack.ttf') format('truetype'),
        url('../fonts/Segoe-UI/SegoeUIBlack.svg#SegoeUIBlack') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}





