.form_fields{
    .input_field{
        background:$white;
        border: $none;
        @include padding(10px);
        @include font-size(16px);
        color: $ebony_clay;
        @include width(100%);
        @include border-radius(5px);
        resize: $none;
        &::placeholder{
            color: $price_color;
        }
    }
}
.form_fields{
    textarea.input_field{
        height:120px;
    }
}
.form_fields_white_bg{
    .input_field_w{
        background:$transparent;
        border: 1px solid #cccccc;
        @include padding(6px 10px);
        @include font-size(16px);
        @include border-radius(5px);
        color: $ebony_clay;
        @include width(100%);
        resize: $none;
        &::placeholder{
            color: $price_color;
        }
    }
    .input_field_date{
        background:$transparent;
        border: 1px solid #cccccc;
        @include padding(6px 10px);
        @include font-size(16px);
        @include border-radius(5px);
        color: $ebony_clay;
        @include width(195%);
        resize: $none;
        &::placeholder{
            color: $price_color;
        }
    }
}
.form_fields{
    .input-group-text {
        color: #fff;
        background-color: #37b877;
        border: 1px solid #ccc;
    }
}
.form_fields_grey_bg{
    .form-control{
        background:$white;
        border: 1px solid #cccccc;
        @include font-size(18px);
        @include border-radius(5px);
        color: $ebony_clay;
        resize: $none;
        &::placeholder{
            color: $price_color;
        }
    }
}
.form_fields_grey_bg{
    .input-group-text{
        background: $menu_active;
        color: $white;
    }
}
.input-group-append{
    .input-group-text{
        background: $menu_active;
        color: $white;
    }
}
.form_fields{
    .phone_field{
        .form-control{
            width:calc(100% - 40px);
            background: #ffffff;
            @include font-size(16px);
        }
    }
}