.modal_popup{
    @include width(100%);
    @include margin(0 auto);
    .modal-dialog {
        min-width: 600px;
        margin:0 auto;
    }
    .modal-content{
        border-radius: 15px;         
        .modal-header{
            background:$menu_active;
            border-radius: 15px 15px 0 0;
            padding: 10px 20px;
            .popup_title{
                color:$white;
                @include font-size(18px);
                font-weight:$font-wt_bold;
                font-family: $font-family1;
                @include width(100%);
                text-align: $left;
                margin: 0;
            }            
        }
        
    }    
}
.mediumpopup{
    &.modal-dialog {
        min-width: 600px;
        margin:0 auto;
        height: 100%;
        .modal-content{
            top:0;   
            bottom:0;
            margin: $auto;
            position: $absolute;
            height:340px;
        }
    }
}
.contentseleler_sendmsg.mediumpopup{
    &.modal-dialog {
        min-width: 700px;
        margin:0 auto;
        height: 100%;
        .modal-content{
            top:0;   
            bottom:0;
            margin: $auto;
            position: $absolute;
            height:450px;
        }
    }
}