.ui.bottom.left.popup {
    margin-left: 0;
}
.ui.bottom.left.popup {
    -webkit-transform-origin: left top;
    transform-origin: left top;
}
.ui.bottom.right.popup {
    margin-right: 0;
}
.ui.bottom.right.popup {
    -webkit-transform-origin: right top;
    transform-origin: right top;
}
.ui.visible.popup {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.ui.animating.popup, .ui.visible.popup {
    display: block;
}
.ui.bottom.popup {
    margin: .71428571em 0 0;
}
.ui.top.left.popup {
    margin-left: 0;
}
.ui.top.left.popup {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
}
.ui.top.right.popup {
    margin-right: 0;
}
.ui.top.right.popup {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
}
.ui.top.popup {
    margin: 0 0 .71428571em;
}
.ui.bottom.left.popup:before {
    top: -.30714286em;
    left: 1em;
    right: auto;
    bottom: auto;
    margin-left: 0;
    @include box-shadow(-2px -2px 6px $noti_colr);
}
.ui.bottom.right.popup:before {
    top: -.30714286em;
    right: 1em;
    left: auto;
    bottom: auto;
    margin-right: 0;
    @include box-shadow(-2px -2px 6px $noti_colr);
}
.ui.bottom.popup:before {
    background: #fff;
}
.ui.top.left.popup:before {
    bottom: -.30714286em;
    left: 1em;
    top: auto;
    right: auto;
    margin-left: 0;
    @include box-shadow(2px 2px 6px $noti_colr);
}
.ui.top.right.popup:before {
    bottom: -.30714286em;
    right: 1em;
    top: auto;
    left: auto;
    margin-right: 0;
    @include box-shadow(2px 2px 6px $noti_colr);
}
.ui.top.popup:before {
    background: #fff;
}
.ui.popup:before {
    position: absolute;
    content: '';
    width: .71428571em;
    height: .71428571em;
    background: #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 2;
    @include box-shadow(2px 2px 6px $noti_colr);
}
.ui.popup {
    font-size: 1rem;
}
.ui.popup {
    margin: 0;
}
.ui.popup {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    min-width: -webkit-min-content;
    min-width: -moz-min-content;
    min-width: min-content;
    z-index: 1900;
    border: 1px solid #d4d4d5;
    line-height: 1.4285em;
    max-width: 300px;
    background: #fff;
    padding: .833em 1em;
    font-weight: 400;
    font-style: normal;
    color: #000;
    border-radius: .28571429rem;
    @include box-shadow(2px 2px 6px $noti_colr);
}
.transition {
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.ui.visible.popup {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.ui.animating.popup, .ui.visible.popup {
    display: block;
}
.visible.transition {
    display: block!important;
    visibility: visible!important;
}
.ui.popup>.header {
    padding: 0;
    font-family: $font-family1;
    @include font-size(20px);
    line-height: 1.2;
    font-weight: 700;
    color: $menu_active;
}
.ui.popup>.header+.content {
    padding-top: .5em;
}