.scrollbarsmooth{
  scrollbar-color: Gainsboro White;
  scrollbar-width: thin;
  @include border-radius(4px);
}
.scrollbarsmooth::-webkit-scrollbar {
  @include width(5px);
  @include height(5px);
  @include border-radius(4px);
}
.scrollbarsmooth::-webkit-scrollbar-track {
  background: $notify_box_shadow;
  @include border-radius(4px);
}
.scrollbarsmooth::-webkit-scrollbar-thumb {
  background: $menu_active;
  cursor: $pointer;
  @include border-radius(4px);
}
.scrollbarsmooth::-webkit-scrollbar-thumb:hover {
  background: $menu_active;
  cursor: $pointer;
  @include border-radius(4px);
}


.scroll-sidebar{
  scrollbar-color: Gainsboro White;
  scrollbar-width: thin;
  @include border-radius(4px);
}
.scroll-sidebar::-webkit-scrollbar {
  @include width(5px);
  @include height(5px);
  @include border-radius(4px);
}
.scroll-sidebar::-webkit-scrollbar-track {
  background: $notify_box_shadow;
  @include border-radius(4px);
}
.scroll-sidebar::-webkit-scrollbar-thumb {
  background: $menu_active;
  cursor: $pointer;
  @include border-radius(4px);
}
.scroll-sidebar::-webkit-scrollbar-thumb:hover {
  background: $menu_active;
  cursor: $pointer;
  @include border-radius(4px);
}