.grid_des{
    border: 1px solid $menu_active;
    @include border-radius(10px);
    table{
        th{
            @include padding(10px);
            @include font-size(18px);
            font-weight:$font-wt_bold;
            font-family: $font-family1;
        }
        td{
            @include padding(10px);
            @include font-size(16px);
            font-weight:$font-wt_regular;
            font-family: $font-family1;
            @include border-bottom(1px dotted $border_table);
            color:$dotted_line;
            a{
                @include font-size(16px);
                font-weight:$font-wt_regular;
                font-family: $font-family1;
            }
        }        
    }
    .MuiTableContainer-root{
        box-shadow: $none;
        background: $transparent;
        @include border-radius(10px);
    }
    .MuiPaper-elevation2 {
        box-shadow: none !important;
        border-radius: 10px !important;
        border: none!important;
    }
    &.orange_table{       
        table{
            @include border($none);
            thead{
                background:$menu_active;
                border-radius: 10px 10px 0 0 !important;
                th{             
                    background-color: $transparent;   
                    color:$white;
                    @include border-bottom(1px dotted $white);
                }
            }
            td{
                a{
                    color:$menu_active;
                    font-weight:$font-wt_bold;
                }
            }
        }       
    }
}
.Component-horizontalScrollContainer-12 {
    padding: 0 !important;
    border-radius: 10px 10px 0 0 !important;
}